<!doctype html> <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Creation of Tasklets</title>
		<!-- <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles_non_centered.css'}"> -->
		<link rel="shortcut icon" href="@{'/public/images/favicon.png'}" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}"> 
		<!-- link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles1.css'}">  -->
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery-ui-1.8.21.custom.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery-ui-timepicker-addon.css'}">

		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.noty.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/noty_theme_twitter.css'}">

		<script src="@{'/public/js/libs/modernizr-2.0.6.min.js'}"></script>
		<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/jquery.noty.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/jquery-ui-1.8.20.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/highcharts.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/constants.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/utilityFunctions.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/exporting.js'}" type="text/javascript" charset="${_response_encoding}"></script>		
		<script src="@{'/public/javascripts/jquery-ui-timepicker-addon.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<style type="text/css">
			div.errorDiv
			{
				background: #000230;
				color: #fff;
				padding:10px;
			}
		</style>
		<script type="text/javascript">
			$(document).ready(function() {

				createHeader();
				createFooter();

				/**
				 * Global Variables used during the lifecycle of the page
				 *
				 */
				var vpdsname = $("#vpdsname").val();
				var noOfParam = 0;
				var errorParam = false;

				/*
				 * Setting the AJAX to work in sycnhronous fashion
				 */
				jQuery.ajaxSetup({
					async : false
				});


			/********************* --------------- Changes made here --------------- ***************/


				/*
				 * Hiding Error Divs
				 */
				$("#errorDiv").hide();
				$("#getActuateErrorDiv").hide();
				$(".errorVisual").hide();

				/*createDateTimePicker(ID_DATE_TIME_ACTUATE);
				createDateTimePicker(ID_TIME_ACTUATE);
				$(ID_DATE_TIME_ACTUATE).datetimepicker({
					changeMonth : true,
					changeYear : true,
					dateFormat : "yy-mm-dd",
					separator : "-"
				});*/

				
				/**
				 * @param :Error Information
				 * This function appends the passed string to the AddDeviceErrorDiv and shows the relevant error container
				 * Now only in use for catch elements of unexpected errors
				 */

				function alertActuateDeviceError(errorInformation) {

					$("#errorDiv").html(errorInformation);
					$("#errorDiv").fadeIn('slow');
					return false;
				}

				/**
				 * @param :Error Information
				 * This function appends the passed string to the GetDeviceErrorDiv and shows the relevant error container
				 */
				function alertGetActuateError(errorInformation) {
					$("#getActuateErrorDiv").html(errorInformation);
					$("#getActuateErrorDiv").fadeIn('slow');
					return false;
				}
				

				function makeRequest() {
					var tasklet = {};
					var username = $("#username").val();

					tasklet[TSK_SECRETKEY]= FAKE_SECRET_KEY;
					tasklet[TSK_TASKLETNAME]= $("#tname").val();
					tasklet[TSK_DESC]= $("#tdesc").val();
					tasklet[TSK_PARAM] = {};

					//Parameters
					for(var i = 1; i <= noOfParam; i++){
						var pname = $("#p"+i).val();
						var pval = $("#val"+i).val();
						tasklet[TSK_PARAM][pname] = pval;
					}					
					
					tasklet[TSK_EXECUTE]= $("#texecute").val();

					tasklet[TSK_WHEN] = $("#twhen").val();
					tasklet[TSK_INPUT] = {};
					tasklet[TSK_INPUT][tasklet[TSK_WHEN]] = $("#cronexp").val();
					

					// to convert to a cron expression
					/*var date = "", Seconds = "", Minutes = "", Hour = "", dayOfMon = "", month ="", year ="", cronExp ="";
					if(actuateAt != "Now") {

						date = new Date(actuationTime);
					
						Seconds = date.getSeconds();
						Minutes = date.getMinutes();
						Hour = date.getHours();

						var time = {
									hour: Hour,
								    minute: Minutes,
								    second: Seconds
								    };
						
						if($("#actDate").attr('checked')) {
							dayOfMon = date.getDate();
							month =  date.getMonth() + 1;
							year = date.getFullYear();
							tasklet[TSK_DESC] = "Turn " + turnONorOFF + " " + actuatorName + " on " + $.datepicker.formatDate('dd-M-yy', date) + " at " + getFormattedTime("hh:mm TT",time,{ampm: true});
						}					
						else {

							dayOfMon = "*";
							month =  "*";
							year = "*";							
							tasklet[TSK_DESC] = "Turn " + turnONorOFF + " "+ actuatorName + " at " + getFormattedTime("hh:mm TT",time,{ampm: true}) + " everyday";
						}

						cronExp = Seconds + " " + Minutes + " " + Hour + " " + dayOfMon + " " + month + " ? " + year;

						tasklet[TSK_WHEN] = "timer";					
						tasklet[TSK_INPUT]["timer"] = cronExp;				

					}
					else
						tasklet[TSK_DESC] = "Actuate Now";

					var resource = username + ":" + deviceName + ":" + actuatorName + ":" + actuatorID;
					var numRand = Math.floor(Math.random()*1000);*/					
					
					try {

						//alert(JSON.stringify(tasklet));
						
						$.post(URL_UI_SERVER + URL_ACTUATE_DEVICE, JSON.stringify(tasklet), function(data) {
								receivedData = data;
						});
						if(receivedData[RESPONSE_STATUS_CODE] == SUCCESS) {
							alert("Tasklet scheduled successfully!");
							window.location = URL_UI_SERVER + URL_TASKLETS;
						}
						else {
							alertActuateDeviceError("Following error occured: " + receivedData[RESPONSE_MESSAGE]);

						}

					} catch(e) {
						alertGetActuateError("Following error occured: " + receivedData[RESPONSE_MESSAGE]);
					}			

				}
				
				function validateRequest(tname,tdesc,twhen,cronexp,texecute) {

					$(".errorVisual").hide("");
					$("#divParamSelect,#tname,#tdesc,#twhen,#cronexp,#texecute").removeClass("error");
					for (var i = 1; i <= noOfParam; i++){
						$("#newParam"+i).removeClass("error");
					}
					errorState = false;
					errorInformation = "";					

					if (tname.length == 0 || tname == " ") {
						errorState = true;

						$("#tname").addClass("error");
						$("#spanTName").show('slow', function() {
						});
						$("#spanTName").html("Enter tasklet name");						

					}
					else if (tdesc.length == 0) {
						errorState = true;

						$("#tdesc").addClass("error");
						$("#spanTDesc").show('slow', function() {
						});
						$("#spanTDesc").html("Enter a description");

					}
					else if ((noOfParam > 0 && !errorParam) || errorParam) {
						for (var i = 1; i <= noOfParam; i++){
							var pname = $("#p"+i).val();
							var pval = $("#val"+i).val();
							if(pname.length == 0 || pval.length == 0){
								errorState = true;
								errorParam = true;
								$("#newParam"+i).addClass("error");
								$("#spanParamSelect").show('slow', function() {
								});
								$("#spanParamSelect").html("Enter parameter details");
								$("#divParamSelect").focus();
								break;
							}
							else
								errorParam = false;
						}
					}
					if(errorParam)
						return [errorState, errorInformation];
					if (twhen.length == 0) {
						errorState = true;

						$("#twhen").addClass("error");
						$("#spanTWhen").show('slow', function() {
						});
						$("#spanTWhen").html("Enter token name for the cron expression");

					}
					else if (cronexp.length == 0) {
						errorState = true;

						$("#cronexp").addClass("error");
						$("#spanTWhen").show('slow', function() {
						});
						$("#spanTWhen").html("Cron Expression missing!");

					}
					else if (texecute.length == 0) {						
						errorState = true;
						
						$("#spanTExecute").show('slow', function() {
						});
						$("#spanTExecute").html("Script missing!");

					}

					return [errorState, errorInformation];
				}


				/* 'Schedule Tasklet' button functionality*/

				$("#IDScheduleTasklet").click(function() {
					var status;
					var tname = $("#tname").val();
					var tdesc = $("#tdesc").val();
					var twhen = $("#twhen").val();
					var cronexp = $("#cronexp").val();
					var texecute = $("#texecute").val();

					var errorStatus = validateRequest(tname,tdesc,twhen,cronexp, texecute);
				
					if (errorStatus[0]) {
						return false;
					}			
					
					makeRequest();
				});

				// Adding new parameters

				$("#addNewParameter").click(function() {
					noOfParam++;
					$("#divParamSelect").append('<div id="newParam'+noOfParam+'" class="newParam"> \
						&nbsp;&nbsp;&nbsp;Param'+noOfParam+': &nbsp; &nbsp; <input type="text" id="p'+ noOfParam +'"><br>\
						&nbsp;&nbsp;&nbsp;Value: &nbsp; &nbsp; &nbsp;&nbsp; <input type="text" id="val'+ noOfParam +'"><br>\
						</div>');
				});

				$("#delParameter").click(function() {
					if(noOfParam > 0) {
						$("#divParamSelect").find("#newParam"+noOfParam).remove();
						noOfParam--;
					}					
				});
				
				//$("#dialog:ui-dialog").dialog("destroy");
				var dlg = $("#dialog").dialog({
					autoOpen : false,
					draggable : true,
					resizable : true,
					width : 700,
					modal : true
				});

				$( "#dialog" ).bind( "dialogbeforeclose", function(event, ui) {
					$("#dialog").html("");
				});

				/* List all the actuation requests*/ 
				$("#IDViewRequest").click(function() {

					try {
						jsonListTasklet = {};
						jsonListTasklet[VPDS_NAME] = vpdsname;
						$.post(URL_UI_SERVER + URL_LIST_TASKLET, JSON.stringify(jsonListTasklet), function(data) {
								receivedData = data;
						});						

						if (receivedData[RESPONSE_STATUS_CODE] != NO_TASKLET_FOUND) {

							if (receivedData[DEVICE_ACTLIST_ARRAY].length > 0)	{ //Success
								
								// TODO: Replace tasklet name with tasklet description
								$("#dialog").append("<div id =\"errorCDiv\" style=\"color: red;padding:5px; font-size: 1\"</div><br/>");
								$("#errorCDiv").hide();
								$("#dialog").append("<table id=\"actList\" style=\"font-size:15px\"><tr><td></td><td><b>Request Description</b></tr></th></table");
								for (var index in receivedData[DEVICE_ACTLIST_ARRAY]) {
									var name = receivedData[DEVICE_ACTLIST_ARRAY][index][TSK_DESC];
									var taskletId = receivedData[DEVICE_ACTLIST_ARRAY][index][TSK_TASKLETID]; 
									$("#actList").append("<tr><td><input type=\"checkbox\" id=\"chkCReq\" value=\""+ taskletId +"\" +</td><td>" + name + "</td></tr>");															
								}
								$("#dialog").append("<br><botton id=\"IDSelectAllButton\" class=\"google-button\" align=\"center\">Select/Deselect All</botton> &nbsp; <botton id=\"IDCancelReqButton\" class=\"google-button\" align=\"center\">Cancel Requests</botton>");
								
								var prevSelect = false;
								$("#IDSelectAllButton").click(function() {

									$("#dialog").find("input").each(function() {

										if(prevSelect) {
											$(this).attr('checked',false);
										}											
										else {
											$(this).attr('checked',true);
										}
												
									});

									if (!prevSelect) {											
										prevSelect = true;
									}
									else
										prevSelect = false;

								});

								$("#IDCancelReqButton").click(function() {

									var cancelReqList={};
									var chkCount = 0;
									var listCReq = new Array();
									cancelReqList["secretkey"] = FAKE_SECRET_KEY;
									cancelReqList["cancelRequestList"] = new Array();

									$("#dialog").find("input").each(function() {

										if ($(this).prop("checked")) {									
											listCReq[chkCount] = $(this).val();
											chkCount++;
										}																									
									});

									if (chkCount < 1) {
										var errorInformation = "<font size='2'>Please select at least one tasklet to cancel!</font>";
										$("#errorCDiv").show();
										$("#errorCDiv").html(errorInformation);
										$("#errorCDiv").fadeIn('slow');
										return false;
									}

									cancelReqList[SECRET_KEY] = FAKE_SECRET_KEY;
									cancelReqList["cancelRequestList"] = listCReq;
									cancelReqList["vpdsname"] = vpdsname;	
									

									try {
										
										$.post(URL_UI_SERVER +URL_CANCEL_ACTUATE_REQUEST, JSON.stringify(cancelReqList), function(data) {
											receivedData = data;
										});
										if(receivedData[RESPONSE_STATUS_CODE] == SUCCESS) {

											alert("Tasklets successfully cancelled!");
											window.location = URL_UI_SERVER + URL_TASKLETS;
										}
										else {
											if(receivedData[RESPONSE_STATUS_CODE] == TASKLET_NOT_CANCELED) {
												var errorInformation = "Tasklet could not be canceled. Try again later";
												$("#errorCDiv").html(errorInformation);
												$("#errorCDiv").fadeIn('slow');
											}
											return false;
										}
											
									}
									catch(e) {
										var errorInformation = receivedData[RESPONSE_MESSAGE];
										$("#errorCDiv").html(errorInformation);
										$("#errorCDiv").fadeIn('slow');
										return false;
									}


								});						
							}
							else {
								alertActuateDeviceError("Following error occured: " + receivedData[RESPONSE_MESSAGE]);
							}

							

							dlg.dialog("open");
							/*dlg.dialog("option", "position", {
								//my: "center top",
								//at: "right top",
								//offset: "20 20"
							});*/
							return false;

						}
						else
							alertGetActuateError("You have not scheduled any tasklet!");


					} catch(e) {

						if (receivedData[RESPONSE_STATUS_CODE] == ACTUATION_REQUEST_LISTFAILED) 
							alertGetActuateError("Could not retrieve the list at this time. Please try again later.");
						else
							alertGetActuateError("Following error occured: " + receivedData[RESPONSE_MESSAGE]);
					}

				});
				
			});

		</script>
	</head>
	<body>
		<input type="hidden"  id ="username" value =${username} />
		<div id="header-container">
			<header class="wrapper clearfix">
				<h1 id="title">SensorAct
				<br />
				<br />
				<span style="font-size:25px;">Sense - Interact - Actuate</span></h1>
				<nav id="navHeader">
				</nav>
				<br />
				<br />
				<nav>
					<p class="pbox" style="margin-bottom:-20px;"> Welcome ${username} &nbsp | &nbsp
						<span id="viewkey">View API key</span> &nbsp; | 
						&nbsp<span id="logout">Logout</span>
					</p>
				</nav>

			</header>
		</div>
		<div class="wrapper" style="">
			<p class="space"></p>
			<div id="selectedVPDS" style="float:right; font-size: 12px"><b>Selected VPDS:</b><label id="labelVpdsname"></label></div>
			<br/>
			<h1 class="newfont" id="device" style="text-align:center;">Create Tasklets</h1>
			<hr>			
			<div style="display: none;" id="getActuateErrorDiv" class="errorDiv"></div>
			<div style="display: none;" id="errorDiv" class="errorDiv"></div>
			<label><sup>*</sup> <font size="1">Mandatory Fields</font></label><br/>
			<div id="newActRequest">
				<br>
				<!-- Left Pane starts here-->
				<div id="visualBox" style="">
					<div class="leftDiv">
						<label>Name :<sup>*</sup></label>
					</div>
					<div class="rightDiv">
						<input id="tname" type="text">						
						<span class="errorVisual" id="spanTName"></span>
					</div>

					<div class="leftDiv">
						<label>Description :<sup>*</sup></label>
					</div>
					<div class="rightDiv">
						<input id="tdesc" type="text">						
						<span class="errorVisual" id="spanTDesc"></span>
					</div>

					<div class="leftDiv">
						<br>						
							Parameters :  &nbsp;&nbsp;&nbsp;
								<button class='google-button-blue'  id="addNewParameter">
								Add parameter
								</button>&nbsp;&nbsp;&nbsp;
								<button class='google-button-blue'  id="delParameter">
								Delete parameter
								</button>						
							
							<div id="divParamSelect">
							
							</div>
					</div>
					<div class="rightDiv">						
						<span class="errorVisual" id="spanParamSelect"></span>
					</div>	
				
					<div class="leftDiv">
						<br>
						<div id="divWhenSelect">
							<label>When to Schedule:<sup>*</sup></label>
							 &nbsp;&nbsp;&nbsp;Token Name: 
							 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="twhen" /><br/> 
							 &nbsp;&nbsp;&nbsp;<font size="1">(Enter a token name for the cron expression Eg. timer1) </font><br/>
							 &nbsp;&nbsp;&nbsp;Cron expression: &nbsp;&nbsp;<input type="text" id = "cronexp">
							 <br/> &nbsp;&nbsp;&nbsp;<font size="1">(Specify a cron expression for scheduling the tasklet Eg. 0 0/2 10-18 * * ? *)</font>
						</div>
					</div>					
					<div class="rightDiv">						
						<span class="errorVisual" id="spanTWhen"></span>
					</div>	
					<div class="leftDiv">
						<br>
						<label>Script to execute:<sup>*</sup></label>						
						<textarea id="texecute" cols="40" rows="10">Enter your script here</textarea>
					</div>
					<div class="rightDiv">						
						<span class="errorVisual" id="spanTExecute"></span>
					</div>
					<br />
				</div>
				<!-- Left pane ends here-->	
				<!--Right Pane starts here-->
				<div id="displayTasklets" style="float:right;">
					<div class="leftDiv" style="clear:both;text-align:center;">
						<div id="dialog" title = "Tasklets Scheduled" style="font-size:1;"></div>
						<button id="IDViewRequest" class="google-button">
						View Scheduled Tasklets
						</button>
						<br/>
					</div>
					<div class="rightDiv">
						<span class="errorVisual" id="spanViewRequest"></span>
					</div>
					<br />
				</div>
				<!-- Right Pane ends here-->		
				<p class="space"></p>				
				<div style="clear:both;text-align:center;">	
					<button id="IDScheduleTasklet" class="google-button">
						Schedule Tasklet
					</button>
				</div>
				<br/>
			</div>
			
		</div>
		<div id="iFields">
			<input id="username"  type="hidden" value=${username}> 
			<input id="usertype"  type="hidden" value=${usertype}> 
			<input id="vpdsname"  type="hidden" value=${vpdsname}> 
			<input id="vpdsurl"  type="hidden" value=${vpdsurl}>
			<input id="vpdskey"  type="hidden" value=${vpdskey}>
		</div>
		<div style="clear:both;" id="footer-container">
		</div>
	</body>
</html>