<!doctype html> <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Creation of Tasklets</title>
		<!-- <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles_non_centered.css'}"> -->
		<link rel="shortcut icon" href="@{'/public/images/favicon.png'}" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}"> 
		<!-- link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles1.css'}">  -->
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery-ui-1.8.21.custom.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery-ui-timepicker-addon.css'}">

		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.noty.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/noty_theme_twitter.css'}">

		<script src="@{'/public/js/libs/modernizr-2.0.6.min.js'}"></script>
		<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/jquery.noty.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/jquery-ui-1.8.20.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/highcharts.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/constants.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/utilityFunctions.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/exporting.js'}" type="text/javascript" charset="${_response_encoding}"></script>		
		<script src="@{'/public/javascripts/jquery-ui-timepicker-addon.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<style type="text/css">
			div.errorDiv
			{
				background: #000230;
				color: #fff;
				padding:10px;
			}
		</style>
		<script type="text/javascript">
			$(document).ready(function() {

				createHeader();
				createFooter();

				/**
				 * Global Variables used during the lifecycle of the page
				 *
				 */
				var vpdsname = $("#vpdsname").val();
				var username = $("#username").val();
				var paramIdCount = 0;
				var idCount = [];
				var errorParam = false;
				var scheduleType, deviceEventInfo = "";

				/*
				 * Setting the AJAX to work in sycnhronous fashion
				 */
				jQuery.ajaxSetup({
					async : false
				});


			/********************* --------------- Changes made here --------------- ***************/


				/*
				 * Hiding Error Divs
				 */
				$("#errorDiv").hide();
				$("#getActuateErrorDiv").hide();
				$(".errorVisual").hide();
				$("#divWhenSelectPeriodic").hide();
				$("#divWhenSelectEvent").hide();

				/*createDateTimePicker(ID_DATE_TIME_ACTUATE);
				createDateTimePicker(ID_TIME_ACTUATE);
				$(ID_DATE_TIME_ACTUATE).datetimepicker({
					changeMonth : true,
					changeYear : true,
					dateFormat : "yy-mm-dd",
					separator : "-"
				});*/

				
				/**
				 * @param :Error Information
				 * This function appends the passed string to the AddDeviceErrorDiv and shows the relevant error container
				 * Now only in use for catch elements of unexpected errors
				 */

				function alertActuateDeviceError(errorInformation) {

					$("#errorDiv").html(errorInformation);
					$("#errorDiv").fadeIn('slow');
					return false;
				}

				/**
				 * @param :Error Information
				 * This function appends the passed string to the GetDeviceErrorDiv and shows the relevant error container
				 */
				function alertGetActuateError(errorInformation) {
					$("#getActuateErrorDiv").html(errorInformation);
					$("#getActuateErrorDiv").fadeIn('slow');
					return false;
				}
				
				/* Schedule type */
				$("#divTypeSelect").click(function() {

					$("#spanScheduleTypeSelect").hide();	
					$(".errorVisual").hide();
						
					
					if($("#tPeriodic").attr('checked')) {
						$("#divWhenSelectPeriodic").show();
						$("#divWhenSelectEvent").hide();	
					}
						
					else if($("#tEvent").attr('checked')){
						$("#divWhenSelectPeriodic").hide();
						$("#divWhenSelectEvent").show();
					}
					else {
						$("#divWhenSelectPeriodic").hide();
						$("#divWhenSelectEvent").hide();
					}									

				});

				$("input[name=scheduleType]").click(function() {
						scheduleType = this.value;
						$("#tPeriodic").removeClass("error");
						$("#tEvent").removeClass("error");
						$("#selectDeviceEvent").removeClass("error");
						$("#tEventToken").removeClass("error");
						$("#cronexp").removeClass("error");
						if(scheduleType == "event")	
							displayDeviceEventSelection();

				});

				//Getting Device List -make a request to get all the devices available
				try {

					$.get(URL_UI_SERVER + URL_LIST_ALL_DEVICES, function(data) {					
						receivedDeviceData = data;					
					});
				} catch(e) {

				}

				function displayDeviceEventSelection() {
					/*
					 * Displaying the list of devices and load the sensors/actuators associated with them
					 */
					if (!(receivedDeviceData.hasOwnProperty(RESPONSE_STATUS_CODE)))//Success
					{

						if (receivedDeviceData[DEVICE_ARRAY].length > 0) {

							for (var index in receivedDeviceData[DEVICE_ARRAY]) {
								var name = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_NAME];

								$("#selectDeviceEvent").append("<option name=\""+removeSpace(name)+"\" value=\"" + removeSpace(name) + "\" >" + removeSpace(name) + "</option>");					
							}

							/*
							 * Description:This function is used to change the HTML contents corresponding to a selected device
							 * It basically adds relevant HTMl in accordance with the device selected
							 *
							 * Nature:Anonmyous function
							 *
							 * Called:Called every time a change occurs in the dropdown menu
							 *
							 */

							var deviceName;
							var sensorName, sensorID, actuatorName, actuatorID;
							$("#selectDeviceEvent").change(function() {

								$("#divSelectDeviceEvent .device").remove();
								$(".errorVisual").hide();
								$("#selectDeviceEvent").removeClass("error");
								deviceEventInfo = "";
								//var clickedItem = this.value;		
								//alert("Clicked device:" + clickedItem);

							    deviceName = this.value;

							    $("#divSelectDeviceEvent").append("<div class=\"device\"><input type=\"radio\" name=\"subDtype\" value=\"Sen\" /> &nbsp;  Sensor? &nbsp; &nbsp; <input type=\"radio\" name=\"subDtype\" value=\"Act\" /> &nbsp;  Actuator?</div>");


							    $("#divSelectDeviceEvent input[name=subDtype]").click(function() {

							    	$("#divSelectDeviceEvent .device .sensor").remove();
							    	$("#divSelectDeviceEvent .device .actuator").remove();
							    	$(".errorVisual").hide();

							    	if(this.value == "Sen"){
							    		$("#divSelectDeviceEvent .device").append("<div class=\"sensor\">Select sensor &nbsp;<select id='selectSensor'><option value='Select Sensor'>Select Sensor</option></select></div>");
							    		for (var index in receivedDeviceData[DEVICE_ARRAY]) {
											var name = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_NAME];
									
											if (name == deviceName) {

												if ( DEVICE_SENSORS in receivedDeviceData[DEVICE_ARRAY][index]) {
												
													var sensorArray = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_SENSORS];
													for (var sensor in sensorArray) {
														var senName =  sensorArray[sensor][DEVICE_SENSOR_NAME];
														var senId =  sensorArray[sensor][DEVICE_SENSOR_ID];
														$("#selectSensor").append("<option id ='"+ senId +"' value='" + senName + "'>"+ senName + "</option>");
													}
												}
												else {
													$("#spanDeviceEvent").show('slow', function() {
													});
													$("#spanDeviceEvent").html("No sensors found!");
													$("#divSelectDeviceEvent .sensor").hide();
												}
											}
										}
							    	}
							    	else if (this.value == "Act"){
							    		$("#divSelectDeviceEvent .device").append("<div class=\"actuator\">Select actuator &nbsp;<select id='selectActuator'><option value='Select Actuator'>Select Actuator</option></select></div>");
							    		for (var index in receivedDeviceData[DEVICE_ARRAY]) {
											var name = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_NAME];
									
											if (name == deviceName) {				

												if ( DEVICE_ACTUATORS in receivedDeviceData[DEVICE_ARRAY][index]) {
												
													var actuatorArray = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_ACTUATORS];

													for (var actuator in actuatorArray) {
														var actName = actuatorArray[actuator][DEVICE_ACTUATOR_NAME];
														var actId = actuatorArray[actuator][DEVICE_ACTUATOR_ID];
														$("#selectActuator").append("<option id ='"+ actId +"' value='" + actName + "'>"+ actName + "</option>");
													}
												}
												else{
													$("#spanDeviceEvent").show('slow', function() {
													});
													$("#spanDeviceEvent").html("No actuators found!");
													$("#divSelectDeviceEvent .actuator").hide();
												}
													
											}
										}
							    	}
							    	// Set val hidden value

									$("#selectSensor").click(function(){
										$(".errorVisual").hide();
										sensorName = this.value;
										if(sensorName == "Select Sensor"){
											$("#spanDeviceEvent").show('slow', function() {
											});
											$("#spanDeviceEvent").html("Select a sensor");
											deviceEventInfo = "";
										}
										else{
											sensorID = $(this).find(':selected')[0].id;	
											deviceEventInfo = username + ":" + deviceName + ":" + sensorName + ":" + sensorID;
										}
										
									});

									$("#selectActuator").click(function(){
										$(".errorVisual").hide();
										actuatorName = this.value;
										if(actuatorName == "Select Actuator"){
											$("#spanDeviceEvent").show('slow', function() {
											});
											$("#spanDeviceEvent").html("Select an actuator");
											deviceEventInfo = "";
										}
										else{
										actuatorID = $(this).find(':selected')[0].id;
										deviceEventInfo = username + ":" + deviceName + ":" + actuatorName + ":" + actuatorID;
										}
									});
							    });
							});						
						} 
					}
					else if(receivedDeviceData[RESPONSE_STATUS_CODE] == NO_DEVICE_FOUND) {
						alertGetActuateError("No devices added yet");
					}

				}

				
				// Adding new parameters

				$("#addNewParameter").click(function() {
					paramIdCount++;
					var idParam = paramIdCount;					
					idCount.push(idParam);
					$("#divParamSelect").append('<div id="newParam'+idParam+'" class="newParam" style="overflow:hidden"> \
						&nbsp;&nbsp;&nbsp;Param Name: &nbsp; &nbsp; <input type="text" id="p'+ idParam +'">&nbsp;&nbsp;&nbsp;<font size="1">(parameter name without spaces)</font><br>\
						&nbsp;&nbsp;&nbsp;Value: &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;\
						<input type="text" id="val'+ idParam +'"><br>\
						<br/><span class="errorVisual" id="spanParamSelect'+idParam+'"></span><button style="float:right" class="google-button-red"  id="delParameter'+idParam+'">Delete parameter</button></div>');
					$("#delParameter"+idParam).click(function() {						
						$("#divParamSelect #newParam"+idParam).remove();						
						idCount.splice(idCount.indexOf(idParam),1);
						$(".errorVisual").hide("");
					});
				});				

				$("#addDeviceParameter").click(function() {
					paramIdCount++;
					var idParam = paramIdCount;
					idCount.push(idParam);
					$("#divParamSelect").append('<div id="newParam'+idParam+'" class="newParam" style="overflow:hidden"> \
						&nbsp;&nbsp;&nbsp;Device Param Name: &nbsp; &nbsp; <input type="text" id="p'+ idParam +'"> &nbsp;&nbsp;&nbsp;<font size="1">(parameter name without spaces)</font><br>\
						&nbsp;&nbsp;&nbsp;<div id="divDeviceSelect">Select a device:</div>\
						<input type="hidden" id="val'+ idParam +'">\
						<br/><span class="errorVisual" id="spanParamSelect'+idParam+'"></span><button style="float:right; display:block" class="google-button-red"  id="delParameter'+idParam+'">Delete parameter</button></div>');

					/*
					 * Displaying the list of devices and load the sensors/actuators associated with them
					 */

					if (!(receivedDeviceData.hasOwnProperty(RESPONSE_STATUS_CODE)))//Success
					{

						if (receivedDeviceData[DEVICE_ARRAY].length > 0) {

							$("#newParam"+idParam+" #divDeviceSelect").append("&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<select id=\"selectDev\"><option value='Select Device'>Select Device</option></select><br/>");
							for (var index in receivedDeviceData[DEVICE_ARRAY]) {
								var name = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_NAME];

								$("#newParam"+idParam+" #divDeviceSelect #selectDev").append("<option name=\""+removeSpace(name)+"\" value=\"" + removeSpace(name) + "\" >" + removeSpace(name) + "</option>");								
							}

							/*
							 * Description:This function is used to change the HTML contents corresponding to a selected device
							 * It basically adds relevant HTMl in accordance with the device selected
							 *
							 * Nature:Anonmyous function
							 *
							 * Called:Called every time a change occurs in the dropdown menu
							 *
							 */

							var deviceName;
							var sensorName, sensorID, actuatorName, actuatorID;
							$("#newParam"+idParam+" #selectDev").change(function() {

								$("#newParam"+idParam+" #divDeviceSelect .device").remove();
								$("#newParam"+idParam+" #val"+ idParam).val("");
								$("#newParam"+idParam+" .errorVisual").hide();								
								//var clickedItem = this.value;		
								//alert("Clicked device:" + clickedItem);

							    deviceName = this.value;

							    $("#newParam"+idParam+" #divDeviceSelect").append("<div class=\"device\"><input type=\"radio\" name=\"subtype\" value=\"Sen\" /> &nbsp;  Sensor? &nbsp; &nbsp; <input type=\"radio\" name=\"subtype\" value=\"Act\" /> &nbsp;  Actuator?</div>");


							    $("#newParam"+idParam+" input[name=subtype]").click(function() {

							    	$("#newParam"+idParam+" #divDeviceSelect .device .sensor").remove();
							    	$("#newParam"+idParam+" #divDeviceSelect .device .actuator").remove();
							    	$("#newParam"+idParam+" .errorVisual").hide();

							    	if(this.value == "Sen"){
							    		$("#newParam"+idParam+" #divDeviceSelect .device").append("<div class=\"sensor\">Select sensor &nbsp;<select id='selSensor'><option value='Select Sensor'>Select Sensor</option></select></div>");
							    		for (var index in receivedDeviceData[DEVICE_ARRAY]) {
											var name = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_NAME];
									
											if (name == deviceName) {

												if ( DEVICE_SENSORS in receivedDeviceData[DEVICE_ARRAY][index]) {
												
													var sensorArray = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_SENSORS];
													for (var sensor in sensorArray) {
														var senName =  sensorArray[sensor][DEVICE_SENSOR_NAME];
														var senId =  sensorArray[sensor][DEVICE_SENSOR_ID];
														$("#newParam"+idParam+" #selSensor").append("<option id ='"+ senId +"' value='" + senName + "'>"+ senName + "</option>");
													}
												}
												else {
													$("#spanParamSelect"+idParam).show('slow', function() {
													});
													$("#spanParamSelect"+idParam).html("No sensors found!");
													$("#newParam"+idParam+" .sensor").hide();
												}
											}
										}
							    	}
							    	else if (this.value == "Act"){
							    		$("#newParam"+idParam+" #divDeviceSelect .device").append("<div class=\"actuator\">Select actuator &nbsp;<select id='selActuator'><option value='Select Actuator'>Select Actuator</option></select></div>");
							    		for (var index in receivedDeviceData[DEVICE_ARRAY]) {
											var name = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_NAME];
									
											if (name == deviceName) {				

												if ( DEVICE_ACTUATORS in receivedDeviceData[DEVICE_ARRAY][index]) {
												
													var actuatorArray = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_ACTUATORS];

													for (var actuator in actuatorArray) {
														var actName = actuatorArray[actuator][DEVICE_ACTUATOR_NAME];
														var actId = actuatorArray[actuator][DEVICE_ACTUATOR_ID];
														$("#newParam"+idParam+" #selActuator").append("<option id ='"+ actId +"' value='" + actName + "'>"+ actName + "</option>");
													}
												}
												else{
													$("#spanParamSelect"+idParam).show('slow', function() {
													});
													$("#spanParamSelect"+idParam).html("No actuators found!");
													$("#newParam"+idParam+" .actuator").hide();
												}
													
											}
										}
							    	}
							    	// Set val hidden value

									$("#newParam"+idParam+" #selSensor").click(function(){
										sensorName = this.value;
										sensorID = $(this).find(':selected')[0].id;	
										var valueDevParam = username + ":" + deviceName + ":" + sensorName + ":" + sensorID;
										$("#newParam"+idParam+" #val"+ idParam).val(valueDevParam);
									});

									$("#newParam"+idParam+" #selActuator").click(function(){
										actuatorName = this.value;
										actuatorID = $(this).find(':selected')[0].id;
										var valueDevParam = username + ":" + deviceName + ":" + actuatorName + ":" + actuatorID;
										$("#newParam"+idParam+" #val"+ idParam).val(valueDevParam);
									});
							    });
							});						
						} 
					}
					else if(receivedDeviceData[RESPONSE_STATUS_CODE] == NO_DEVICE_FOUND) {
						alertGetActuateError("No devices added yet");
					}

					$("#delParameter"+idParam).click(function() {						
						$("#divParamSelect #newParam"+idParam).remove();
						idCount.splice(idCount.indexOf(idParam),1);
						$(".errorVisual").hide("");
					});
				});

				
				//$("#dialog:ui-dialog").dialog("destroy");
				var dlg = $("#dialog").dialog({
					autoOpen : false,
					draggable : true,
					resizable : true,
					width : 700,
					modal : true
				});

				$( "#dialog" ).bind( "dialogbeforeclose", function(event, ui) {
					$("#dialog").html("");
				});

				function makeRequest() {
					var tasklet = {};
					var username = $("#username").val();

					tasklet[TSK_SECRETKEY]= FAKE_SECRET_KEY;
					tasklet[TSK_TASKLETNAME]= removeSpace($("#tname").val());
					tasklet[TSK_DESC]= $.trim($("#tdesc").val());
					tasklet[TSK_PARAM] = {};
					tasklet[TSK_WHEN] = "";
					tasklet[TSK_INPUT] = {};

					//Parameters
					var id;
					for (var i in idCount){					
						id = idCount[i];
						var pname = removeSpace($("#p"+id).val());
						var pval = $("#val"+id).val();
						tasklet[TSK_PARAM][pname] = pval;
					}					
					
					tasklet[TSK_EXECUTE]= $("#texecute").val();

					
										
					
					if (scheduleType == "periodic") {
						tasklet[TSK_WHEN] = "timer";
						tasklet[TSK_INPUT][tasklet[TSK_WHEN]] = $("#cronexp").val();
					}
					else if (scheduleType == "event") {
						tasklet[TSK_WHEN] = removeSpace($("#tEventToken").val());
						tasklet[TSK_INPUT][tasklet[TSK_WHEN]] = deviceEventInfo;
					}
					
					try {

						//alert(JSON.stringify(tasklet));return false;
						
						$.post(URL_UI_SERVER + URL_ACTUATE_DEVICE, JSON.stringify(tasklet), function(data) {
								receivedData = data;
						});
						if(receivedData[RESPONSE_STATUS_CODE] == SUCCESS) {
							alert("Tasklet scheduled successfully!");
							window.location = URL_UI_SERVER + URL_TASKLETS;
						}
						else {
							alertActuateDeviceError("Following error occured: " + receivedData[RESPONSE_MESSAGE]);

						}

					} catch(e) {
						alertGetActuateError("Following error occured: " + receivedData[RESPONSE_MESSAGE]);
					}			

				}
				
				function validateRequest(tname,tdesc,tEventToken,cronexp,texecute) {

					$(".errorVisual").hide("");
					$("#divParamSelect,#tname,#tdesc,#tEventToken,#cronexp,#texecute,#divWhenSelectEvent").removeClass("error");
					var id;
					for (var i in idCount){					
						id = idCount[i];		
						$("#newParam"+id).removeClass("error");
					}
					errorState = false;
					errorInformation = "";	
					defaultScriptText = "Enter your script here";

					if (removeSpace(tname).length == 0) {
						errorState = true;

						$("#tname").addClass("error");
						$("#spanTName").show('slow', function() {
						});
						$("#spanTName").html("Enter tasklet name");						

					}
					else if (removeSpace(tdesc).length == 0) {
						errorState = true;

						$("#tdesc").addClass("error");
						$("#spanTDesc").show('slow', function() {
						});
						$("#spanTDesc").html("Enter a description");

					}
					else if ((idCount.length > 0 && !errorParam) || errorParam) {
						var id;
						for (var i in idCount){
							
							id = idCount[i];
							var pname = removeSpace($("#p"+id).val());
							var pval = removeSpace($("#val"+id).val());
							
							if(pname.length == 0 || pval.length == 0){
								errorState = true;
								errorParam = true;
								$("#newParam"+id).addClass("error");
								$("#spanParamSelect"+id).show('slow', function() {
								});
								$("#spanParamSelect"+id).html("Enter parameter details");
								$("#divParamSelect").focus();
								break;
							}
							else
								errorParam = false;
						}
					}
					if(errorParam || errorState)
						return [errorState, errorInformation];
					
					if (typeof scheduleType === 'undefined') {
						errorState = true;

						$("#spanScheduleTypeSelect").show('slow', function() {
						});
						$("#spanScheduleTypeSelect").html("Please select schedule type of the task");
						$("#divTypeSelect").focus();

					}
					else if (scheduleType == "event" && tEventToken.length == 0) {
						errorState = true;

						$("#tEventToken").addClass("error");
						$("#spanTWhen").show('slow', function() {
						});
						$("#spanTWhen").html("Enter device event name");

					}
					else if (scheduleType == "event" && $("#selectDeviceEvent").val() == "Select Device"){
						errorState = true;

						$("#selectDeviceEvent").addClass("error");
						$("#spanTWhen").show('slow', function() {
						});
						$("#spanTWhen").html("Select Device");
					}
					else if (scheduleType == "event" && removeSpace(deviceEventInfo).length == 0) {
						errorState = true;

						$("#divWhenSelectEvent").addClass("error");
						$("#spanTWhen").show('slow', function() {
						});
						$("#spanTWhen").html("Device Event not selected properly!");
					}
					else if (scheduleType == "periodic" && removeSpace(cronexp).length == 0) {
						errorState = true;

						$("#cronexp").addClass("error");
						$("#spanTWhen").show('slow', function() {
						});
						$("#spanTWhen").html("Cron Expression missing!");

					}
					else if (removeSpace(texecute).length == 0 || removeSpace(texecute) == removeSpace(defaultScriptText)) {						
						errorState = true;
						
						$("#texecute").addClass("error");
						$("#spanTExecute").show('slow', function() {
						});
						$("#spanTExecute").html("Script missing!");

					}

					return [errorState, errorInformation];
				}


				/* 'Schedule Tasklet' button functionality*/

				$("#IDScheduleTasklet").click(function() {
					var status;
					var tname = $("#tname").val();
					var tdesc = $("#tdesc").val();
					var tEventToken = $("#tEventToken").val();
					var cronexp = $("#cronexp").val();
					var texecute = $("#texecute").val();

					var errorStatus = validateRequest(tname,tdesc,tEventToken,cronexp, texecute);
				
					if (errorStatus[0]) {
						return false;
					}			
					
					makeRequest();
				});


				/* List all the actuation requests*/ 
				$("#IDViewRequest").click(function() {

					try {
						jsonListTasklet = {};
						jsonListTasklet[VPDS_NAME] = vpdsname;
						$.post(URL_UI_SERVER + URL_LIST_TASKLET, JSON.stringify(jsonListTasklet), function(data) {
								receivedData = data;
						});						

						if (receivedData[RESPONSE_STATUS_CODE] != NO_TASKLET_FOUND) {

							if (receivedData[DEVICE_ACTLIST_ARRAY].length > 0)	{ //Success
								
								// TODO: Replace tasklet name with tasklet description
								$("#dialog").append("<div id =\"errorCDiv\" style=\"color: red;padding:5px; font-size: 1\"</div><br/>");
								$("#errorCDiv").hide();
								$("#dialog").append("<table id=\"actList\" style=\"font-size:15px\"><tr><td></td><td><b>Request Description</b></tr></th></table");
								for (var index in receivedData[DEVICE_ACTLIST_ARRAY]) {
									var name = receivedData[DEVICE_ACTLIST_ARRAY][index][TSK_DESC];
									var taskletId = receivedData[DEVICE_ACTLIST_ARRAY][index][TSK_TASKLETID]; 
									$("#actList").append("<tr><td><input type=\"checkbox\" id=\"chkCReq\" value=\""+ taskletId +"\" +</td><td>" + name + "</td></tr>");															
								}
								$("#dialog").append("<br><botton id=\"IDSelectAllButton\" class=\"google-button\" align=\"center\">Select/Deselect All</botton> &nbsp; <botton id=\"IDCancelReqButton\" class=\"google-button\" align=\"center\">Cancel Requests</botton>");
								
								var prevSelect = false;
								$("#IDSelectAllButton").click(function() {

									$("#dialog").find("input").each(function() {

										if(prevSelect) {
											$(this).attr('checked',false);
										}											
										else {
											$(this).attr('checked',true);
										}
												
									});

									if (!prevSelect) {											
										prevSelect = true;
									}
									else
										prevSelect = false;

								});

								$("#IDCancelReqButton").click(function() {

									var cancelReqList={};
									var chkCount = 0;
									var listCReq = new Array();
									cancelReqList["secretkey"] = FAKE_SECRET_KEY;
									cancelReqList["cancelRequestList"] = new Array();

									$("#dialog").find("input").each(function() {

										if ($(this).prop("checked")) {									
											listCReq[chkCount] = $(this).val();
											chkCount++;
										}																									
									});

									if (chkCount < 1) {
										var errorInformation = "<font size='2'>Please select at least one tasklet to cancel!</font>";
										$("#errorCDiv").show();
										$("#errorCDiv").html(errorInformation);
										$("#errorCDiv").fadeIn('slow');
										return false;
									}

									cancelReqList[SECRET_KEY] = FAKE_SECRET_KEY;
									cancelReqList["cancelRequestList"] = listCReq;
									cancelReqList["vpdsname"] = vpdsname;	
									

									try {
										
										$.post(URL_UI_SERVER +URL_CANCEL_ACTUATE_REQUEST, JSON.stringify(cancelReqList), function(data) {
											receivedData = data;
										});
										if(receivedData[RESPONSE_STATUS_CODE] == SUCCESS) {

											alert("Tasklets successfully cancelled!");
											window.location = URL_UI_SERVER + URL_TASKLETS;
										}
										else {
											if(receivedData[RESPONSE_STATUS_CODE] == TASKLET_NOT_CANCELED) {
												var errorInformation = "Tasklet could not be canceled. Try again later";
												$("#errorCDiv").html(errorInformation);
												$("#errorCDiv").fadeIn('slow');
											}
											return false;
										}
											
									}
									catch(e) {
										var errorInformation = receivedData[RESPONSE_MESSAGE];
										$("#errorCDiv").html(errorInformation);
										$("#errorCDiv").fadeIn('slow');
										return false;
									}


								});						
							}
							else {
								alertActuateDeviceError("Following error occured: " + receivedData[RESPONSE_MESSAGE]);
							}

							

							dlg.dialog("open");
							/*dlg.dialog("option", "position", {
								//my: "center top",
								//at: "right top",
								//offset: "20 20"
							});*/
							return false;

						}
						else
							alertGetActuateError("You have not scheduled any tasklet!");


					} catch(e) {

						if (receivedData[RESPONSE_STATUS_CODE] == ACTUATION_REQUEST_LISTFAILED) 
							alertGetActuateError("Could not retrieve the list at this time. Please try again later.");
						else
							alertGetActuateError("Following error occured: " + receivedData[RESPONSE_MESSAGE]);
					}

				});
				
			});

		</script>
	</head>
	<body>
		<input type="hidden"  id ="username" value =${username} />
		<div id="header-container">
			<header class="wrapper clearfix">
				<h1 id="title">SensorAct
				<br />
				<br />
				<span style="font-size:25px;">Sense - Interact - Actuate</span></h1>
				<nav id="navHeader">
				</nav>
				<br />
				<br />
				<nav>
					<p class="pbox" style="margin-bottom:-20px;"> Welcome ${username} &nbsp | &nbsp
						<span id="viewkey">View API key</span> &nbsp; | 
						&nbsp<span id="logout">Logout</span>
					</p>
				</nav>

			</header>
		</div>
		<div class="wrapper" style="">
			<p class="space"></p>
			<div id="selectedVPDS" style="float:right; font-size: 12px"><b>Selected VPDS:</b><label id="labelVpdsname"></label></div>
			<br/>
			<h1 class="newfont" id="device" style="text-align:center;">Create Tasklets</h1>
			<hr>			
			<div style="display: none;" id="getActuateErrorDiv" class="errorDiv"></div>
			<div style="display: none;" id="errorDiv" class="errorDiv"></div>
			<label><sup>*</sup> <font size="1">Mandatory Fields</font></label><br/>
			<div id="newActRequest">
				<br>
				<!-- Left Pane starts here-->
				<div id="visualBox" style="">
					<div class="leftDiv">
						<label>Name :<sup>*</sup></label>
					</div>
					<div class="rightDiv">
						<input id="tname" type="text">						
						<span class="errorVisual" id="spanTName"></span>
					</div>

					<div class="leftDiv">
						<label>Description :<sup>*</sup></label>
					</div>
					<div class="rightDiv">
						<input id="tdesc" type="text">						
						<span class="errorVisual" id="spanTDesc"></span>
					</div>

					<div class="leftDiv">
						<br>						
							Parameters :  &nbsp;&nbsp;&nbsp;
								<button class='google-button-blue'  id="addDeviceParameter">
								Add Device Parameter
								</button>&nbsp;&nbsp;&nbsp;
								<button class='google-button-blue'  id="addNewParameter">
								Add parameter
								</button>						
							
							<div id="divParamSelect">
							
							</div>
							<br>
					</div>

					<div class = "leftDiv">
						<div id="divTypeSelect">							
							<label>Schedule tasklet: </label>							
							<input type="radio" id="tNow" name="scheduleType" value="now"/> Immediately and only Once
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" id="tPeriodic" name="scheduleType" value="periodic"/> Periodically &nbsp;&nbsp;
							<input type="radio" id="tEvent" name="scheduleType" value="event"/> Based on device events &nbsp;&nbsp;
							
						</div>
					</div>
					<div class="rightDiv">						
						<span class="errorVisual" id="spanScheduleTypeSelect"></span>
					</div>


				
					<div class="leftDiv">
					<br/>						
						<div id="divWhenSelectPeriodic" class="newParam">
							<label>When to Schedule:<sup>*</sup></label>
							 <!--&nbsp;&nbsp;&nbsp;Token Name: 
							 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="twhen" /><br/> 
							 &nbsp;&nbsp;&nbsp;<font size="1">(Enter a token name for the cron expression Eg. timer1) </font><br/>-->
							 &nbsp;&nbsp;&nbsp;Cron expression: &nbsp;&nbsp;<input type="text" id = "cronexp">
							 <br/> &nbsp;&nbsp;&nbsp;<font size="1">(Specify a cron expression for scheduling the tasklet Eg. 0 0/2 10-18 * * ? *)</font>
						</div>
						<div id="divWhenSelectEvent" class="newParam">
							<label>Schedule based on Device Events:<sup>*</sup></label>
							 &nbsp;&nbsp;&nbsp;Event Name: 
							 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="tEventToken" />&nbsp;<font size="1">(event name without spaces)</font><br/> 
							 &nbsp;&nbsp;&nbsp;<font size="1">(Enter a device event name to use Eg. motionEvent1) </font><br/>
							 <div id="divSelectDeviceEvent">
							 	&nbsp;&nbsp;&nbsp;Select Device:<sup>*</sup>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							 	<select id="selectDeviceEvent"><option value="Select Device">Select Device</option></select><br/>
							 	<span class="errorVisual" id="spanDeviceEvent"></span>
							</div>
						</div>
					</div>					
					<div class="rightDiv">						
						<span class="errorVisual" id="spanTWhen"></span>
					</div>	
					<div class="leftDiv">
						<br>
						<label>Script to execute:<sup>*</sup></label>						
						<textarea id="texecute" cols="40" rows="10">Enter your script here</textarea>
					</div>
					<div class="rightDiv">						
						<span class="errorVisual" id="spanTExecute"></span>
					</div>
					<br />
				</div>
				<!-- Left pane ends here-->	
				<!--Right Pane starts here-->
				<div id="displayTasklets" style="float:right;">
					<div class="leftDiv" style="clear:both;text-align:center;">
						<div id="dialog" title = "Tasklets Scheduled" style="font-size:1;"></div>
						<button id="IDViewRequest" class="google-button">
						View Scheduled Tasklets
						</button>
						<br/>
					</div>
					<div class="rightDiv">
						<span class="errorVisual" id="spanViewRequest"></span>
					</div>
					<br />
				</div>
				<!-- Right Pane ends here-->		
				<p class="space"></p>				
				<div style="clear:both;text-align:center;">	
					<button id="IDScheduleTasklet" class="google-button">
						Schedule Tasklet
					</button>
				</div>
				<br/>
			</div>
			
		</div>
		<div id="iFields">
			<input id="username"  type="hidden" value=${username}> 
			<input id="usertype"  type="hidden" value=${usertype}> 
			<input id="vpdsname"  type="hidden" value=${vpdsname}> 
			<input id="vpdsurl"  type="hidden" value=${vpdsurl}>
			<input id="vpdskey"  type="hidden" value=${vpdskey}>
		</div>
		<div style="clear:both;" id="footer-container">
		</div>
	</body>
</html>