<!doctype html> <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Devices</title>
		<!--<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles_non_centered.css'}">-->
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery-ui-1.8.21.custom.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}">
		<script src="@{'/public/js/libs/modernizr-2.0.6.min.js'}"></script>
		<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/jquery-ui-1.8.20.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/constants.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script type="text/javascript">
			$(document).ready(function() {

				/**
				 * Global Variables used during the lifecycle of the page
				 *
				 */
				var newSensorCount = 0;
				var newActuatorCount = 0;
				var secretkey = FAKE_SECRET_KEY;
				var errorState = false;
				var errorInformation = "";
				var receivedDeviceData = {};
				var receivedDeviceTemplateData = {};
				var deviceObject = {};
				var newNumberOfSensors = 0;
				var newNumberOfActuators = 0;
				var deviceOrTemplateDataList = {};
				deviceOrTemplateDataList[0] = {};
				deviceOrTemplateDataList[1] = {};

				/*
				 * Setting the AJAX to work in sycnhronous fashion
				 */
				jQuery.ajaxSetup({
					async : false
				});

				/*
				 * Adding the link attribute to Logout,Home element
				 */
				$("#logout").attr('href', URL_LOGOUT_USER);
				$("#home").attr('href', URL_HOME);

				/*
				 * Hiding Error Divs
				 */
				$("#errorDiv").hide();
				$("#newDevice").hide();

				$("#getDeviceErrorDiv").hide();

				/**
				 * @param :Error Information
				 * This function appends the passed string to the AddDeviceErrorDiv and shows the relevant error container
				 */
				function alertAddDeviceError(errorInformation) {
					$("#errorDiv").html(errorInformation);
					$("#errorDiv").fadeIn('slow');
					return false;
				}

				/**
				 * @param :Error Information
				 * This function appends the passed string to the GetDeviceErrorDiv and shows the relevant error container
				 */
				function alertGetDeviceError(errorInformation) {
					$("#getDeviceErrorDiv").html(errorInformation);
					$("#getDeviceErrorDiv").fadeIn('slow');
					return false;
				}

				/**
				 * @param:
				 * 1.Object Reference(object)  :JQuery Object Reference to the object under test
				 * 2.Minimum Length (int)   :Minimum Length of the attribute
				 * 3.Maximum Length (int)   :Maximum Length of the attribute
				 * 4.ErrorField    (string) :
				 * The name of the attribute
				 * 5.ErrorFieldAttribute1(string) :The name of the first relevant attribute
				 * 6.ErrorFieldAttribute2(string) :The name of the second relevant attribute
				 *
				 * An example call would be like (this,2,20,"sensor","name",sensorCount=2)
				 * If the validation fails it shall append "Enter name of 2th sensor within 2 and 20 characters"
				 *
				 * This function can also be called like
				 * (this,2,20,"device","name","") for attributes like device where the last attribute may not be required
				 * In case validation fails an error like "Enter name of device within 2 and 20 characters" shall be appended
				 *
				 * In either case the error is appended to the error div and the corresponding faulty elements are highlighted
				 */
				function validateFieldAndMakeErrorInformation(objectReference, minimumLength, maximumLength, errorField, errorFieldAttribute1, errorFieldAttribute2) {
					if((($(objectReference).val().length) < minimumLength ) || (($(objectReference).val().length) > maximumLength )) {
						$(objectReference).addClass("error");
						errorState = true;
						if(errorFieldAttribute2.length > 0) {
							errorInformation = errorInformation + " Enter " + errorFieldAttribute1 + " of " + errorFieldAttribute2 + " th " + errorField + " within " + minimumLength + " and " + maximumLength + "characters";
						} else {
							errorInformation = errorInformation + " Enter " + errorFieldAttribute1 + " of " + errorField + " within " + minimumLength + " and " + maximumLength + " characters";

						}
					} else {
						$(objectReference).removeClass("error");
					}
				}

				function validateNumericFieldValue(objectReference, minimumValue, maximumValue, errorField, errorFieldAttribute1, errorFieldAttribute2) {
					var temp;
					temp = parseInt($(objectReference).val());

					if(isNaN(temp)) {

						$(objectReference).addClass("error");
						errorState = true;
						errorInformation = errorInformation + " " + errorFieldAttribute1 + " of " + errorFieldAttribute2 + " th " + errorField + " must be an integer";
					} else {
						if(temp < minimumValue || temp > maximumValue) {
							$(objectReference).addClass("error");
							errorState = true;
							errorInformation = errorInformation + " Enter " + errorFieldAttribute1 + " of " + errorFieldAttribute2 + " th " + errorField + "'s value within " + minimumValue + " and " + maximumValue;

						} else {
							$(objectReference).removeClass("error");
						}
					}

				}

				/*
				 * Make a query to fetch all the devices associated with the user
				 */
				function displayDevicesOrTemplates(urlDevicesOrTemplatesList, urlDevicesOrTemplatesDelete, isDevice) {

					var isdevice = isDevice.toString();
					var index;
					if(isDevice == "true") {
						index = 0;
					} else {
						index = 1;
					}
					try {
						$.get(urlDevicesOrTemplatesList, function(data) {
							deviceOrTemplateDataList[index] = data;
							//alert(JSON.stringify(deviceOrTemplateDataList[index]));

							//alert(JSON.stringify(receivedDeviceData ));
							//alert(JSON.stringify(deviceOrTemplateDataList[index]));

							//Successfully received data
							if(deviceOrTemplateDataList[index].hasOwnProperty(RESPONSE_STATUS_CODE))//Means a failure has occured {
							//The API call has failed
							{
								alertGetDeviceError("Following errors occured " + deviceOrTemplateDataList[index][RESPONSE_MESSAGE]);
							} else {

								var numberOfDevices = deviceOrTemplateDataList[index][DEVICE_ARRAY].length;
								//alert(numberOfDevices);
								if(numberOfDevices > 0) {
									$("#getDeviceErrorDiv").html("");
									$("#getDeviceErrorDiv").hide();

									for(var i = 0; i < numberOfDevices; i++) {
										if(index == 0) {
											var id = "device" + i.toString();
											$("<h2><a href=\"#\">" + deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_NAME] + "  " + deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_LOCATION] + "</a></h2><div id=\"" + id + "\"></div>").appendTo("#accordion");
										} else {
											var id = "devicetemplate" + i.toString();
											$("<h2><a href=\"#\">" + deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_NAME] + "  " + deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_LOCATION] + "</a></h2><div id=\"" + id + "\"></div>").appendTo("#accordion1");
										}

									}
									for(var i = 0; i < numberOfDevices; i++) {
										if(index == 0) {
											var idSelector = "#device" + i.toString();
											var removeDeviceButton = "removeDevice_" + i.toString();
											var editDeviceButton = "editDevice_" + i.toString();
											var saveAsButton = "saveAsDevice_" + i.toString();
										} else {
											var idSelector = "#devicetemplate" + i.toString();
											var removeDeviceButton = "removeDeviceTemplate_" + i.toString();
											var editDeviceButton = "editDeviceTemplate_" + i.toString();
											var saveAsButton = "saveAsDeviceTemplate_" + i.toString();
										}

										//alert(removeDeviceButton);
										var deviceName = deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_NAME];
										var deviceLocation = deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_LOCATION];
										var deviceIP = deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_IP];
										var deviceTags = deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_TAGS];
										//$('#accordion').append("<h3><a href=\"#\">"+deviceName+"</a></h3>")

										//$(idSelector).append("<p><b>Device Name: " + deviceName + "</b> <br/> <b>Device Location: " + deviceLocation + "</b> <br/><b>Device IP: " + deviceIP + "</b> <br/><b>Device Tags: " + deviceTags + "</b> <br/></p>");

										$(idSelector).append("<button id=" + removeDeviceButton + ">Remove</button>");
										$(idSelector).append("<button id=" + editDeviceButton + ">Edit</button>");
										$(idSelector).append("<button id=" + saveAsButton + ">Save As</button>");

										$('#' + removeDeviceButton).click(function() {

											var deviceIndex = this.id.toString();
											deviceIndex = parseInt(deviceIndex.substr(deviceIndex.length - 1));
											var deviceToBeRemoved = deviceOrTemplateDataList[index][DEVICE_ARRAY][deviceIndex][DEVICE_NAME];
											var messageToDeleteDevice = {}
											messageToDeleteDevice["devicename"] = deviceToBeRemoved;
											messageToDeleteDevice[SECRET_KEY] = secretkey;
											$.post(urlDevicesOrTemplatesDelete, JSON.stringify(messageToDeleteDevice), function(data) {

												if(data[RESPONSE_STATUS_CODE] == SUCCESS) {
													window.location.reload();
												} else {
													alertGetDeviceError(data[RESPONSE_MESSAGE]);
												}

											});
										});
										$('#' + editDeviceButton).click(function() {

											var deviceIndex = this.id.toString();
											deviceIndex = parseInt(deviceIndex.substr(deviceIndex.length - 1));
											var deviceToBeEdited = deviceOrTemplateDataList[index][DEVICE_ARRAY][deviceIndex][DEVICE_NAME];
											var messageToEditDevice = {}
											messageToEditDevice["devicename"] = deviceToBeEdited;
											messageToEditDevice[SECRET_KEY] = secretkey;
											window.location = URL_EDIT_DEVICE + "?devicename=" + deviceToBeEdited + "&isdevice=" + isdevice + "&mode=update";

										});
										$('#' + saveAsButton).click(function() {

											var deviceIndex = this.id.toString();
											deviceIndex = parseInt(deviceIndex.substr(deviceIndex.length - 1));
											var deviceToBeEdited = deviceOrTemplateDataList[index][DEVICE_ARRAY][deviceIndex][DEVICE_NAME];
											var messageToEditDevice = {}
											messageToEditDevice["devicename"] = deviceToBeEdited;
											messageToEditDevice[SECRET_KEY] = secretkey;
											window.location = URL_EDIT_DEVICE + "?devicename=" + deviceToBeEdited + "&isdevice=" + isdevice + "&mode=create";

										});
										if(deviceOrTemplateDataList[index][DEVICE_ARRAY][i].hasOwnProperty(DEVICE_SENSORS)) {
											$(idSelector).append("<div class=\"oldSensors\"></div>");

											//$(idSelector).append("<p><b>Sensors</b></p>");
											var sensor = deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_SENSORS];
											var numberOfSensors = sensor.length;
											for(var j = 0; j < numberOfSensors; j++) {
												//alert(numberOfSensors);
												var sensorName = sensor[j][DEVICE_SENSOR_NAME];
												var sensorID = sensor[j][DEVICE_SENSOR_ID];
												//var sensorName = sensor[j][DEVICE_SENSOR_ID];

												var sensorId = "sensor_" + i.toString() + "_" + j.toString();

												$(idSelector).children(".oldSensors").append("<div class=oldSensor id =" + sensorId + "><label>SensorName<label><input value=" + sensorName + "></input><label>SensorID<label><input value=" + sensorID + "></input></div>");
												var channel = sensor[j][DEVICE_SENSOR_CHANNELS];
												var numberOfChannels = channel.length;

												//$(idSelector).children("#oldSensor").append("<p>Channels</p>");
												var channelTableId = sensorId + "channel";
												$(idSelector).children(".oldSensors").children("#" + sensorId).append("<table id=" + channelTableId + "></table>");
												for(var k = 0; k < numberOfChannels; k++) {
													var channelName = channel[k][DEVICE_SENSOR_CHANNEL_NAME];
													var channelType = channel[k][DEVICE_SENSOR_CHANNEL_TYPE];
													var channelUnit = channel[k][DEVICE_SENSOR_CHANNEL_UNIT];
													var channelSamplingPeriod = channel[k][DEVICE_SENSOR_CHANNEL_SAMPLING_PERIOD];
													$("#" + channelTableId).append("<tr><td><label>Name</label><input value=" + channelName + "></input></td><td><label>Type</label><input value=" + channelType + "></input></td><td><label>Unit</label><input value=" + channelUnit + "></input></td><td><label>SamplingPeriod</label><input value=" + channelSamplingPeriod + "></input></td></tr>");

												}

											}
										}

										if(deviceOrTemplateDataList[index][DEVICE_ARRAY][i].hasOwnProperty(DEVICE_ACTUATORS)) {

											$(idSelector).append("<div class=\"oldActuators\"></div>");
											$(idSelector).children(".oldActuators").append("<div id=ipDiv><label id=\"newDeviceIPLabel\">IP</label><input id=newDeviceIP value=" + deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_IP] + "></input></div>");
											var actuator = deviceOrTemplateDataList[index][DEVICE_ARRAY][i][DEVICE_ACTUATORS];
											var numberOfActuators = actuator.length;
											for(var j = 0; j < numberOfActuators; j++) {
												var actuatorName = actuator[j][DEVICE_ACTUATOR_NAME];
												//var sensorId = "actuator_" + i.toString() + "_" + j.toString();
												$(idSelector).children(".oldActuators").append("<div id=\"oldActuator\"><label>Actuator<br/>Name</label><input value=\"" + actuatorName + "\"></input></div>");
											}

										}

									}

								} else {
									$("#getDeviceErrorDiv").html("No device registered");
									$("#getDeviceErrorDiv").show();
								}

							}

						});
					} catch(e) {
						//alert("here i am");
						alertGetDeviceError(e);
					}
					return deviceOrTemplateDataList[index];
				}

				displayDevicesOrTemplates(URL_LIST_ALL_DEVICES, URL_DELETE_DEVICE, "true", "#accordion");
				displayDevicesOrTemplates(URL_LIST_ALL_DEVICE_TEMPLATES, URL_DELETE_DEVICE_TEMPLATE, "false", "#accordion1");

				/*
				 * Description:This function is used to add a new sensor
				 */

				$("#accordion").accordion({
					autoHeight : false,
					active : -1,
					collapsible : true,
					icons : {
						"header" : "ui-icon-plus",
						"headerSelected" : "ui-icon-minus"
					}
				});
				$("#accordion1").accordion({
					autoHeight : false,
					active : -1,
					collapsible : true,
					icons : {
						"header" : "ui-icon-plus",
						"headerSelected" : "ui-icon-minus"
					}
				});

				$("#addNewDeviceOrTemplate").click(function() {

					window.location = URL_EDIT_DEVICE + "?devicename=" + FAKE_DEVICE_NAME + "&isdevice=true&mode=create";
					return false;
				});
			});

		</script>
	</head>
	<body>
		<div id="header-container">
			<header class="wrapper clearfix">
				<h1 id="title">SensorAct
				<br />
				<br />
				<span style="font-size:25px;">Sense - Interact - Actuate</span></h1>
				<nav>
					<ul>
						<li>
							<a id="home" >Home</a>
						</li>
						<li>
							<a id="logout">Logout</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<div class="wrapper" style="">
			<div id="getDeviceErrorDiv" class ="errorDiv"></div>
			<h1 class="newfont" style="text-align:center;">Registered devices</h1>
			<hr>
			<div id="accordion"></div>
			<h1 class="newfont" style="text-align:center;">Registered templates</h1>
			<div id="accordion1"></div>
			<hr>
			<div id="errorDiv" class="errorDiv"></div>
			<button id="addNewDeviceOrTemplate">
				Create New Device/Template
			</button>
			<input type="hidden" id =username value =${username}>
			</input>
		</div>
		<div style="clear:both;" id="footer-container">
			<footer class="wrapper">
				<h4 align="center">&copy2012 |MUC,IIIT-Delhi</h4>
			</footer>
		</div>
	</body>
</html>