<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title> Display </title>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}">
		
    	
	
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery-ui-1.8.21.custom.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery-ui-timepicker-addon.css'}">
				<!--<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles_non_centered.css'}">-->
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.noty.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/noty_theme_twitter.css'}">
		<script src="@{'/public/js/libs/modernizr-2.0.6.min.js'}"></script>
		<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/jquery.noty.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		
		<script src="@{'/public/javascripts/jquery-ui-1.8.20.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/highcharts.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/utilityFunctions.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/exporting.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/constants.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/jquery-ui-timepicker-addon.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script type="text/javascript">
			$(document).ready(function() {

				$(".errorVisual").hide();
				$("#labelSensorSelect").hide();
				//$("#container").hide();
				//Setting up in async mode
				jQuery.ajaxSetup({
					async : false
				});
				/*
				* Global variables and settings
				*/

				//Setting the charting library to use local time
				Highcharts.setOptions({
					global : {
						useUTC : false
					}
				});

				var chart = new Highcharts.Chart({
					chart : {
						renderTo : 'container',
						type : 'line',
						marginRight : 130,
						marginBottom : 25,
						useUTC : false,
						zoomType : 'x',

						events : {
							redraw : function() {
								//alert ('The chart was just redrawn');
							}
						}
					},
					title : {
						text : 'Data',
						x : -20 //center
					},
					subtitle : {
						text : '',
						x : -20
					},
					xAxis : {
						type : 'datetime',

					},
					plotOptions : {
						line : {
							marker : {
								enabled : false
							}
						}
					},
					yAxis : {
						title : {
							text : 'Readings'
						},
						plotLines : [{
							value : 0,
							width : 1,
							color : '#808080',
							line : {
								marker : {
									enabled : true
								}
							}
						}]
					},
					tooltip : {
						formatter : function() {
							return '<b>' + this.series.name + '</b><br/>' + Highcharts.dateFormat('%e%b', this.x) + ': ' + this.y;
						}
					},
					credits : {
						enabled : false
					},
					legend : {
						layout : 'vertical',
						align : 'right',
						verticalAlign : 'top',
						x : -10,
						y : 100,
						borderWidth : 0
					},
					series : series
				});
				
				$("#logout").attr('href', URL_LOGOUT_USER);
				$("#home").attr('href', URL_HOME);
				$("#errorDiv").hide();

				$("#devices").attr('href', URL_DEVICES);
				$("#visualization").attr('href', URL_VISUALIZATION);
				//$("#logout").attr('href', URL_LOGOUT_USER);
				$("#repositoryInformation").attr('href', URL_REPOSITORY_INFO);
				$("#logout").click(function() {

					window.location = URL_LOGOUT_USER;
				});
				
				function alertError(errorMessage)
				{
					$("#errorDiv").html(errorMessage);
					$("#errorDiv").fadeIn('slow');
					return false;
				}
				
				function removeError()
				{
					$("#errorDiv").html("");
					$("#errorDiv").hide();
					return false;
				}


				//series=appendElementsToSeries(series,SAMPLE_QUERY_DATA_QUERY_RESPONSE);

				//Setting the correct datetime format to start and end time dialog
				$(ID_START_DATE_TIME_DISPLAY).datetimepicker({
					changeMonth : true,
					changeYear : true,
					dateFormat : "yy-mm-dd",
					separator : "-"
				});

				$(ID_END_DATE_TIME_DISPLAY).datetimepicker({
					changeMonth : true,
					changeYear : true,
					dateFormat : "yy-mm-dd",
					separator : "-"
				});

				var startTime;
				var endTime;
				var receivedData;
				var errorState;
				var errorInformation;
				var query;
				var username = $("#username").val();
				var secretkey = FAKE_SECRET_KEY;
				var series = new Array();
				var receivedDeviceData = {};

				/*
				 * Description:This function takes the device name,selected set of sensors and start
				 * and end time and for each sensor makes a request to the Server to fetch the data
				 * It also calls the function appendElementToSeries which for each Sensor adds it to
				 * the charting library
				 *
				 * I/P:
				 * 1.Name of device
				 * 2.Array Of Selected Sensors
				 * 3.Start Time					//$.get("http://www.google.com" + "?secretkey=" + secretkey, function(data){

				 * 4.End Time
				 *
				 * O/P:
				 * 1.AJAX POST to UI Server+Adding the new series to the chart
				 */

				function makeRequestAndDisplayChart(selectedDeviceName, selectedSensorArray, startTime, endTime) {
					for(var i = 0; i < selectedSensorArray.length; i++) {
						var query = {};
						query[QUERY_CONDITIONS] = {};
						query[QUERY_CONDITIONS][QUERY_CONDITIONS_FROM_TIME] = startTime;
						query[QUERY_CONDITIONS][QUERY_CONDITIONS_TO_TIME] = endTime;
						query[QUERY_DEVICE_NAME] = selectedDeviceName;
						query[QUERY_SENSOR_NAME] = selectedSensorArray[i];
						query[QUERY_USER_NAME] = username;
						//alert(JSON.stringify(query));

						//receivedData = SAMPLE_QUERY_DATA_QUERY_RESPONSE;
						try {

							$.post(document.location.hostname+URL_QUERY_DATA, JSON.stringify(query), function(data) {
								receivedData = data;

							});
							if(!(receivedData.hasOwnProperty(RESPONSE_STATUS_CODE)))
							//Means it contains data
							{
								//$("#container").show();
								if(receivedData[WAVESEGMENT_ARRAY].length>0)
								{
								removeError();
								series = appendElementsToSeries(series, receivedData);
								}
								else
								{
									//alertError("No Data found");
									var r=showNoty("No Data found","center","off");
								}
							} else {
								alertError("Following error " + receivedData[RESPONSE_MESSAGE])
							}

						} catch(e) {
							alertError(e.toString());
						}

					}
				}

				/*
				 * Validate the parameters to query for visualization
				 * I/p:
				 * Device name,SelectedSensors,startTime,endTime
				 * O/p:
				 * An array of 2 objects:
				 * 1.The error state:true/false
				 * 2.Error Information associated
				 */

				function validateVisualizationQuery(deviceName, selectedSensorArray, startTime, endTime) {
					$(".errorVisual").hide("");
					$("#IDDeviceSelect,#start_date_time,#end_date_time").removeClass("error");
					errorState = false;
					errorInformation = "";
					if(deviceName == "None") {
						errorState = true;
						//errorInformation += "Select a device ";
						$("#IDDeviceSelect").addClass("error");
						$("#spanDevice").show('slow',function(){
						});
						
						$("#spanDevice").html("Please Select a device");
						$("#IDDeviceSelect").focus();
					}
					else if(selectedSensorArray.length == 0) {
						errorState = true;
						//errorInformation += "Select a sensor";
						$("#spanSensor").show('slow',function(){});
						$("#spanSensor").html("Please Select a Sensor");
						
					}
					else if(startTime.length == 0) {
						errorState = true;
						//errorInformation += " Please provide a valid start time";
						$("#start_date_time").addClass("error");
						$("#spanStartTime").show('slow',function(){});
						$("#spanStartTime").html("Please select Start Time");
						
					}
					else if(endTime.length == 0) {
						errorState = true;
						//errorInformation += " Please provide a valid end time";
						$("#end_date_time").addClass("error");
						$("#spanEndTime").show('slow',function(){});
						$("#spanEndTime").html("Please select End Time");
						//$("#end_date_time").focus();
					}
					else if(startTime >= endTime) {
						errorState = true;
						//errorInformation += " Start Time should be less than end time";
						$("#spanEndTime").show('slow',function(){});
						$("#spanEndTime").html("Start Time should be less than end time");
						
					}
					
					return [errorState, errorInformation];
				}

				/*
				 * Method to send the query
				 * I/P
				 * 1.Device Name
				 * 2.Sensors under the device
				 * 3.Start time and end time
				 *
				 * Validations
				 * This method does validation on the all the specified fields
				 * 1.Device must be selected(By default a None option is provided)
				 * 2.Atleast one sensor must be selected
				 * 3.Starttime should be less than the end time
				 *
				 * O/P
				 * For each sensor in the selected list of sensors this function call would
				 * make a call to the repository and fetch the daQUERY_CONDITIONSom it and append it to
				 * the "series" variable which is passed as an argument to the charting library
				 * If any of the validity tests fail then the corresponding information is alerted
				 * to the user.In case all the validations pass a per sensor query of the format
				 * defined in Constants.js is sent to the server component of the UI
				 */
				$("#IDSendQuery").click(function() {

					var query = {};

					//Empty the previous entries
					while(chart.series.length > 0) {

						chart.series[0].remove();
					}//CLearing data from previous calls
					var selectedSensorArray = new Array();

					var selectedSensorArrayLength = 0;

					var selectedDeviceName = $("#IDDeviceSelect").val();

					$("#IDSensorsSelect").find("input").each(function() {
						selectedSensorArrayLength = selectedSensorArray.length;
						if($(this).prop("checked")) {
							selectedSensorArray[selectedSensorArrayLength] = $(this).val();
							selectedSensorArrayLength++;
						}

					});
					if($(ID_START_DATE_TIME_DISPLAY).val().length > 0) {
						startTime = datetimeToEpoch($(ID_START_DATE_TIME_DISPLAY).val());
					} else {
						startTime = $(ID_START_DATE_TIME_DISPLAY).val();
					}
					if($(ID_END_DATE_TIME_DISPLAY).val().length > 0) {
						endTime = datetimeToEpoch($(ID_END_DATE_TIME_DISPLAY).val());
					} else {
						endTime = $(ID_END_DATE_TIME_DISPLAY).val();
					}
					var errorStatus = validateVisualizationQuery(selectedDeviceName, selectedSensorArray, startTime, endTime);
					if(errorStatus[0]) {
						alertError(errorStatus[1]);
						return false;
					}
					else{
						removeError();
					}
					//alert(JSON.stringify(selectedSensorArray));
					//Now for each sensor in the selectedSensorList we would make a query and fetch the data and draw chart
					makeRequestAndDisplayChart(selectedDeviceName, selectedSensorArray, startTime, endTime);

				});
				try {
					$.get(URL_LIST_ALL_DEVICES, function(data) {
						//alert(data);
						receivedDeviceData = data;
						//alert(receivedDeviceData);

					});
				} catch(e) {
					alertError(e.toString());
				}
				//Make a get request to get all the devices available
				if(!(receivedDeviceData.hasOwnProperty(RESPONSE_STATUS_CODE)))//Success
				{


					if(receivedDeviceData[DEVICE_ARRAY].length > 0) {

						for(var index in receivedDeviceData[DEVICE_ARRAY]) {
							var name = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_NAME];

							$("#IDDeviceSelect").append("<option value=\"" + name + "\">" + name + "</option>");
						}

						/*
						 * Description:This function is used to change the HTML contents corresponding to a selected device
						 * It basically adds relevant HTMl in accordance with the device selected
						 *
						 * Nature:Anonmyous function
						 *
						 * Called:Called every time a change occurs in the dropdown menu
						 *
						 */
						$("#IDDeviceSelect").change(function() {
							$("#labelSensorSelect").hide();
							$("#IDSensorsSelect").html("");
							var deviceName = $(this).val();
							//alert(JSON.stringify(receivedDeviceData));
							for(var index in receivedDeviceData[DEVICE_ARRAY]) {
								var name = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_NAME];
								if(name == deviceName) {
									if($("#IDDeviceSelect").is('.error'))
										{
											//alert("Removing");
											$("#IDDeviceSelect").removeClass("error");
											$("#spanDevice").hide();
											$("#IDSendQuery").removeAttr("disabled","disabled");
											
										}
									if(DEVICE_SENSORS in receivedDeviceData[DEVICE_ARRAY][index] )
									{
										removeError();
									var sensorArray = receivedDeviceData[DEVICE_ARRAY][index][DEVICE_SENSORS];
									$("#labelSensorSelect").show();
									
									for(var sensor in sensorArray) {
										$("#IDSensorsSelect").append("<input id=\"sensorID\" type=\"checkbox\"value=" + sensorArray[sensor][DEVICE_SENSOR_NAME] + ">" + sensorArray[sensor][DEVICE_SENSOR_NAME] + "&nbsp&nbsp</input>");
									}
										$("#IDSensorsSelect").append("<span class='errorVisual' id='spanSensor'></span>");
									return false;
								}
								else
								{
									//alertError("The selected device contains no sensors");
									$("#IDDeviceSelect").addClass("error");
									$("#spanDevice").show('slow',function(){
									});
									$("#IDSendQuery").attr("disabled","disabled");
									$("#spanDevice").html("The selected device contains no sensors");
									$("#IDDeviceSelect").focus();
								}
								}
							}

							return false;
						});
					}
					else{
						alertError("No devices found");
					}
				} else {
					alertError("The following error occured " + receivedDeviceData[RESPONSE_MESSAGE]);
				}

				/*
				 * Description:This function$(#IDSensorsSelect").append("<span class='errorVisual' id='spanSensor'></span>"); is used to append series to the chart
				 *
				 * I/P:Response to the query to view data which is of the form of
				 * SAMPLE_QUERY_DATA_QUERY_RESPONSE in constants.js
				 *
				 *
				 */
				function appendElementsToSeries(series, receivedData) {
					//alert(JSON.stringify(receivedData));
					var numberOfSeries = receivedData[WAVESEGMENT_ARRAY][0][WAVESEGMENT_DATA][WAVESEGMENT_CHANNELS].length;
					//alert(numberOfSeries);
					var sensorName = receivedData[WAVESEGMENT_ARRAY][0][WAVESEGMENT_DATA][WAVESEGMENT_SENSOR_NAME];
					

					for(var i = 0; i < numberOfSeries; i++) {
						series[i] = {};
						series[i][CHART_SERIES_DATA] = new Array();
						series[i][CHART_SERIES_NAME] = receivedData[WAVESEGMENT_ARRAY][0][WAVESEGMENT_DATA][WAVESEGMENT_CHANNELS][i][WAVESEGMENT_CHANNEL_NAME] + sensorName;
					}
					var numberOfWavesegs = receivedData[WAVESEGMENT_ARRAY].length;
					console.log(numberOfWavesegs);
					for(var i = 0; i < numberOfWavesegs; i++) {
						var timestamp = receivedData[WAVESEGMENT_ARRAY][i][WAVESEGMENT_DATA][WAVESEGMENT_TIMESTAMP];
						//console.log(timestamp);
						var samplingPeriod=1;
						//var samplingPeriod = receivedData[WAVESEGMENT_ARRAY][i][WAVESEGMENT_DATA][WAVESEGMENT_SAMPLING_INTERVAL];
						for(var j = 0; j < numberOfSeries; j++) {

							var numberOfReadings = receivedData[WAVESEGMENT_ARRAY][i][WAVESEGMENT_DATA][WAVESEGMENT_CHANNELS][j][WAVESEGMENT_READINGS].length;
							for(var k = 0; k < numberOfReadings; k++) {
								series[j][CHART_SERIES_DATA].push([(timestamp + k * samplingPeriod * 1000), receivedData[WAVESEGMENT_ARRAY][i][WAVESEGMENT_DATA][WAVESEGMENT_CHANNELS][j][WAVESEGMENT_READINGS][k]]);
								console.log(series[j][CHART_SERIES_DATA]);
							}
						}
					}
					for(var i = 0; i < numberOfSeries; i++) {

						//Adding series to the Chart Object
						chart.showLoading();
						chart.addSeries(series[i]);
						chart.hideLoading();
					
					}

						//alert(JSON.stringify(series));
					return series;
				}

			});

		</script>
	</head>
	<body>
		
	<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">SensorAct<br /><br /><span style="font-size:25px;">Sense - Interact - Actuate</span></h1>
			
			
			<!--<nav>	
	
			
				<ul>
					<li>
						<a id="home" >Home</a>
					</li>
					
					<li>
						<a id="logout">Logout</a>
					</li>
				</ul>
						
			</nav>-->
			
			<nav>
			<ul>
				<li>
					<a id="devices" >Devices</a>
				</li>
				<li>
					<a id="visualization" class="active">Visualization</a>
				</li>
				<li>
					<a id="repositoryInformation">Repository Info</a>
				</li>
				<!--<li>
						<a id="logout">Logout</a>
				</li>-->
				
			</ul>
		</nav>
		<br />
		<br />
		<nav>
					<p class="pbox" style="margin-bottom:-20px;">
						Welcome ${username} &nbsp | &nbsp<span id="logout">Logout</span>
					</p>
		</nav>
	
	
		</header>
	</div>
		<div class="wrapper">
		<div id="errorDiv" class="errorDiv"></div>
		
		<div>
			<h1 class="newfont" style="text-align:center;">Visualization</h1>
			<hr>
			<div id="visualBox" style="">
				<div class="leftDiv">
					<label>Select a Device</label>
				</div>
				<div class="rightDiv">
					<select id="IDDeviceSelect">
					<option value="None">None</option>
					</select>
				<span class="errorVisual" id="spanDevice"></span>
				</div>			
				<div id="labelSensorSelect" class="leftDiv"><label>Select Sensor</label></div>
				
				<div id="IDSensorsSelect" class="rightDiv" style=""></div>
				
				<div class="leftDiv">
				<label>Start Date :</label>
				</div>
				<div class="rightDiv">
				<input type="text" id="start_date_time" readonly='true' /><span class="errorVisual" id="spanStartTime"></span>
				</div>
				<div class="leftDiv">
				<label>End Date Time :</label>
				</div>
				<div class="rightDiv">
				<input type="text" id ="end_date_time" readonly='true' /><span class="errorVisual" id="spanEndTime"></span>
				</div>
				<br />
				<button id="IDSendQuery">
				View Data
				</button>
			</div>
		</div>
		<div id="container" style=""></div>
		</input>
		<input type="hidden" id =username value =${username}>
		</input>
	<hr>
	</div>
	<div style="clear:both;" id="footer-container">
		<footer class="wrapper">
			<h4 align="center">&copy2012 |MUC,IIIT-Delhi</h4>
		</footer>
	</div>

</body>
	
</html>