<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html
class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
lang="en">
	<!--<![endif]-->
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Edit Guard Rules</title>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles_non_centered.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}">
		<script src="@{'/public/js/libs/modernizr-2.0.6.min.js'}"></script>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery-ui-1.8.21.custom.css'}">
		<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/jquery-ui-1.8.20.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/constants.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/utilityFunctions.js'}" type="text/javascript" ></script>
		<script type="text/javascript">

			$(document).ready(function() {

				createHeader();	
				createFooter();			

				/**
				 * Global Variables used during the lifecycle of the page
				 *
				 */
				var guardRuleToEdit = $("#guardrulename").val();
				var mode = $("#mode").val();

				var getGuardRule = URL_UI_SERVER+URL_GET_GUARD_RULE;			

				
				var secretkey = FAKE_SECRET_KEY;
				var errorState = false;
				var errorInformation = "";
				var receivedData = {};
				var receivedUserList = {};
				var guardRuleObject = {};
				
				/*counter for dynamic attribute allocation focus*/
				var value = 0;
				
				var classReference = "";				

				/*
				 * Setting the AJAX to work in synchronous fashion
				 */
				 	
				jQuery.ajaxSetup({
					async : false
				});

				$("#logout").click(function() {
			    	window.location = URL_UI_SERVER + URL_LOGOUT_USER;
			    });


				
				/*
				 * Hiding Error Divs
				 */
				$("#errorDiv").hide();
				$("#getDeviceErrorDiv").hide();

				/**
				 * @param :Error Information
				 * This function appends the passed string to the AddDeviceErrorDiv and shows the relevant error container
				 * Now only in use for catch elements of unexpected errors
				 */

				function alertAddDeviceError(errorInformation) {

					//$("#errorDiv").show();
					$("#errorDiv").html(errorInformation);
					$("#errorDiv").fadeIn('slow');
					return false;
				}

				/**
				 * @param :Error Information
				 * This function appends the passed string to the GetDeviceErrorDiv and shows the relevant error container
				 */
				function alertGetDeviceError(errorInformation) {

					//$("#getDeviceErrorDiv").show();
					$("#getDeviceErrorDiv").html(errorInformation);
					$("#getDeviceErrorDiv").fadeIn('slow');
					return false;
				}

				function validFields(rulename, ruledesc, priority, condition) {
					
					$(".errorVisual").hide("");
					$("#newGuardRuleName,#newGuardRuleDesc,#newGuardRulePriority,#selectUsers").removeClass("error");

					if(((removeSpace(rulename.val()).length) < MIN_LENGTH_GUARDRULE_NAME ) || ((removeSpace(rulename.val()).length) > MAX_LENGTH_GUARDRULE_NAME)) { 				
						errorState = true;
						rulename.addClass("error");

						$("#erRuleName").show('slow',function(){});
						$("#erRuleName").html("Rule name length should be between 5 and 20 characters");
						
					}
					else if(((removeSpace(ruledesc.val()).length) < MIN_LENGTH_GUARDRULE_DESC ) || ((removeSpace(ruledesc.val()).length) > MAX_LENGTH_GUARDRULE_DESC)) { 
						errorState = true;
						ruledesc.addClass("error");

						$("#erRuleDesc").show('slow',function(){});
						$("#erRuleDesc").html("Rule description length should be between 5 and 100 characters");
						
					}					
					else if (removeSpace(priority.val()).length == 0 || isNaN(removeSpace(priority.val()))) {	
						errorState = true;
						priority.addClass("error");
						
						$("#erRulePriority").show('slow', function() {});
						$("#erRulePriority").html("Please enter a numeric value");

					}
					else if (removeSpace(condition.val()).length == 0 || $.trim(condition.val()) == "Specify condition") {			
						errorState = true;
						condition.addClass("error");
						
						$("#erRuleCond").show('slow', function() {});
						$("#erRuleCond").html("Please enter a condition");

					}

					return errorState;
				}

				var editGuardRule = {};
				editGuardRule[GUARDRULE_NAME] = guardRuleToEdit;
				editGuardRule[SECRET_KEY] = secretkey;

				/**
				 * Make a query to fetch the guard rule if in edit mode
				 */
				if(guardRuleToEdit != FAKE_GUARD_RULE_NAME) {

					try {
						if(mode == "create") {
							$("#guardrule").prepend('Add ');
							$("#addGuardRule").html("Add Guard Rule");

						}
						else {
							$("#guardrule").prepend('Edit ');
							$("#addGuardRule").html("Edit Guard Rule");	

						}											
					
						$.post(getGuardRule, JSON.stringify(editGuardRule), function(data) {
							receivedData = data;
							//alert(JSON.stringify(receivedData));

							//Successfully received data
							if(receivedData.hasOwnProperty(RESPONSE_STATUS_CODE))//Means a failure has occured
							//The API call has failed
							{
								alertGetDeviceError("Following errors occurred " + receivedData[RESPONSE_MESSAGE]);
							} else {
								
								$("#newGuardRuleName").val(receivedData[GUARDRULE_NAME]);
								$("#newGuardRuleDesc").val(receivedData[GUARDRULE_DESC]);
								$("#newGuardRulePriority").val(receivedData[GUARDRULE_PRIORITY]);
								
								$("#newGuardRuleCond").val(receivedData[GUARDRULE_CONDITION]);
								$("#newGuardRuleAction").val(receivedData[GUARDRULE_ACTION]);
								$("#newGuardRuleOp").val(receivedData[GUARDRULE_TARGETOP]);

								var desclength = $("#newGuardRuleDesc").val().length;

								if (desclength*10 > 120)
									$("#newGuardRuleDesc").width(desclength * 10);
							}

						});
					} catch(e) {
					
						alertGetDeviceError(e);
					}
				}
				else{
					$("#guardrule").prepend('Add ');
					$("#addGuardRule").html("Add Guard Rule");
				}
				
				/**
				 * This function is invoked when Add Guard Rule is clicked.
				 * It does a validation for all the fields present in the guard rule
				 */
				$("#addGuardRule").click(function() {
					errorState = false;					
					
					var error = validFields($("#newGuardRuleName"), $("#newGuardRuleDesc"), $("#newGuardRulePriority"), $("#newGuardRuleCond"));
					
					
					if(error == true) {
						return false;
						
					} 
					
					//Hide error div
					$("#errorDiv").html("");
					$("#errorDiv").hide();						
					
					guardRuleObject[GUARDRULE_NAME] = removeSpace($("#newGuardRuleName").val());
					guardRuleObject[GUARDRULE_DESC] = $("#newGuardRuleDesc").val();
					guardRuleObject[GUARDRULE_PRIORITY] = removeSpace($("#newGuardRulePriority").val());			
					guardRuleObject[GUARDRULE_CONDITION] = $("#newGuardRuleCond").val();
					guardRuleObject[GUARDRULE_ACTION] = $("#newGuardRuleAction").val();
					guardRuleObject[GUARDRULE_TARGETOP] = $("#newGuardRuleOp").val();	

					//Now the actual object to be sent to the VPDS is created,after all validation  has been done
					var addRequestToSend = {};
					
					addRequestToSend[GUARDRULE] = guardRuleObject;
					addRequestToSend[SECRET_KEY] = secretkey;	

					var validationResult = true;
					var addGuardRuleURL = URL_UI_SERVER+URL_ADD_GUARD_RULE;
					var delGuardRuleURL = URL_UI_SERVER+URL_DEL_GUARD_RULE;

					alert(JSON.stringify(addRequestToSend));	
					
					function postToDeleteGR(){
						try {
								
								$.post(addGuardRuleURL, JSON.stringify(addRequestToSend), function(data) {
									if(data[RESPONSE_STATUS_CODE] == 0) {
										window.location = URL_UI_SERVER+"guardrule";
									} else {
										alertAddDeviceError("Following error occured: " + data[RESPONSE_MESSAGE]);
										validationResult = false;

									}

								});
							} catch(e) {
								alertAddDeviceError(e);
							}
					}


					if(guardRuleToEdit != FAKE_GUARD_RULE_NAME) {

						var jsonDelGuardRule = {};
						jsonDelGuardRule[GUARDRULE_NAME] = guardRuleToEdit;
						jsonDelGuardRule[SECRET_KEY] = secretkey;

						//Delete older guard rule
						if(mode == "update" && (validationResult == true && errorState == false)) {
							var isDeleteSuccessful = false;

							try {
								//alert("Validation Successful");

								$.post(delGuardRuleURL, JSON.stringify(jsonDelGuardRule), function(data) {

									if(data[RESPONSE_STATUS_CODE] == SUCCESS) {
										isDeleteSuccessful = true;
									} else {
										alertGetDeviceError(data[RESPONSE_MESSAGE]);
									}

								});
							} catch(e) {
								alertAddDeviceError(e);
							}
							if(isDeleteSuccessful) {
								postToDeleteGR();							
							}
						}
						else {
						// Create Guard Rule mode - SaveAs option
						postToDeleteGR();
						}//End else
					}
					else {
						// Create Guard Rule mode
						postToDeleteGR();
					}//End else

					return false;

				});

				$("#selectAll").click(function(){
					$("#selectUsers option").attr("selected", "selected");

				});
			});

		</script>
	</head>
	<body>
		<div id="header-container">
			<header class="wrapper clearfix">
				<h1 id="title"> SensorAct
				<br>
				<br>
				<span style="font-size: 25px;">Sense - Interact - Actuate</span></h1>
				<nav id="navHeader">
				</nav>
				
				<nav>
					<p class="pbox" style="margin-bottom:-20px;"> Welcome ${username} &nbsp | &nbsp
						<span id="viewkey">View API key</span> &nbsp; | 
						&nbsp<span id="logout">Logout</span>
					</p>
				</nav>
			</header>
		</div>
		<div class="wrapper" style="width: 90%;">
			<p class="space"></p>
			<div id="selectedVPDS" style="float:right; font-size: 12px"><span><b>Selected VPDS:</b></span><span id="labelVpdsname"></span ></div>
			<br/>
			<div id="modeDiv">
				<h1 id="guardrule" class="newfont" style="text-align: center">Guard Rule</h1>
			</div>
			<hr>
			<div style="display: none;" id="getDeviceErrorDiv" class="errorDiv"></div>
			<div style="display: none;" id="errorDiv" class="errorDiv"></div>
			<div id="newGuardRule">
				<br>
				<label id="newGuardRuleNameLabel">Rule Name </label>
				<div><font size="1">Please specify the name without spaces</font></div>
				<input id="newGuardRuleName" type="text">
				<span style='color:red;' id="erRuleName" class="errorVisual"></span>
				<br><br>
				<label id="newGuardRuleDescLabel">Description </label>
				<textarea id="newGuardRuleDesc" rows="3" cols="20">Enter rule description</textarea>
				<span style='color:red;' id="erRuleDesc" class="errorVisual"></span>
				<br><br>
				<label id="newGuardRulePriorityLabel">Priority </label>
				<div><font size="1">Enter a numeric value (lower the value, higher is the priority)</font></div>
				<input id="newGuardRulePriority" type="text" maxlength = "5" size = "10" style="width: 30px">
				<span style='color:red;' id="erRulePriority" class="errorVisual"></span>
				<br><br>				
				<label id="newGuardRuleCondLabel">Condition </label>
				<textarea id="newGuardRuleCond" rows="3" cols="20">Specify condition</textarea>
				<span style='color:red;' id="erRuleCond" class="errorVisual"></span>
				<br><br>
				<label id="newGuardRuleOpLabel">Target Operation </label>
				<div><font size="1">Read for sensors; Write for Actuators</font></div>
				<select id="newGuardRuleOp">
					<option selected="selected" value="read">Read</option>
					<option value="write">Write</option>
				</select>
				<span style='color:red;' id="erRuleOp" class="errorVisual"></span>
				<br><br>					
				<label id="newGuardRuleActionLabel">Action </label>
				<select id="newGuardRuleAction">
					<option selected="selected" value="allow">Allow</option>
					<option value="deny">Deny</option>
				</select>
				<span style='color:red;' id="erRuleAction" class="errorVisual"></span>
				<br><br>
				<!--  added this -->
				<p class="space"></p>
				<button class='google-button-blue'  id="addGuardRule">
					Add Guard Rule
				</button>
				<p class="space"></p>
				<!--  added this -->
			</div>
			
		</div>
		<div id="iFields">
			<input id="username"  type="hidden" value=${username}>
			<input id="guardrulename"  type="hidden" value=${guardrulename}>
			<input id="mode"  type="hidden" value=${mode}>
			<input id="usertype"  type="hidden" value=${usertype}> 
			<input id="vpdsname"  type="hidden" value=${vpdsname}> 
			<input id="vpdsurl"  type="hidden" value=${vpdsurl}>
			<input id="vpdskey"  type="hidden" value=${vpdskey}>
		</div>
		<div style="clear: both;" id="footer-container">
			
		</div>
	</body>
</html>
