<!doctype html> <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title> Repository </title>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}">
		<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/constants.js'}" type="text/javascript" charset="${_response_encoding}"></script>
				<script src="@{'/public/javascripts/utilityFunctions.js'}" type="text/javascript" charset="${_response_encoding}"></script>

		<script type="text/javascript">
			$(document).ready(function() {

				createHeader();

				var responseFromServer;

				/*
				 * Adding the link attribute to Logout,Home element	</body>
				 </html>
				 */
 				var temp="http://"+document.location.hostname+":"+document.location.port+"/";

				setNavURL("#devices" ,'href',temp+ URL_DEVICES);
				setNavURL("#deviceactuate" ,'href',temp+URL_ACTUATE);
				setNavURL("#visualization",'href', temp+URL_VISUALIZATION);
				setNavURL("#repositoryInformation",'href',temp+URL_REPOSITORY_INFO);
				setNavURL("#home",'href',temp+URL_HOME);
				setNavURL("#logout",'href',temp+URL_LOGOUT_USER);
				setNavURL("#speak",'href',temp+URL_SPEAK_INPUT);
				$("#logout").click(function() {

					window.location = URL_LOGOUT_USER;
				});
				//Setting up in async mode
				jQuery.ajaxSetup({
					async : false
				});
				//Hide all forms

				$("#errorDiv").hide();

				$("#generateRepoKeyDiv").hide();
				$("#generatedRepoKeyDiv").hide();

				function alertError(errorMessage) {
					$("#errorDiv").html(errorMessage);
					$("#errorDiv").fadeIn('slow');
					return false;
				}

				function removeError() {
					$("#errorDiv").html("");
					$("#errorDiv").hide();
					return false;
				}

				function validateSignIn(username, password) {
					var flag = true;
					if(username.length < MIN_LENGTH_USERNAME) {
						$("#span_sign_in_username").text("Must be atleast " + MIN_LENGTH_USERNAME + " characters");
						$("#sign_in_username").addClass("error");
						flag = false;
					} else {
						$("#span_sign_in_username").text("");

						$("#sign_in_username").removeClass("error")
					}
					if(password.length < MIN_LENGTH_PASSWORD) {
						$("#span_sign_in_password").text("Must be atleast " + MIN_LENGTH_PASSWORD + " characters");
						$("#sign_in_password").addClass("error");
						flag = false;
					} else {
						$("#span_sign_in_password").text("");
						$("#sign_in_password").removeClass("error")
					}
					return flag;
				}

				//Get the repository information
				try {

					$.get(URL_GET_REPOSITORY_INFO, function(data) {
						responseFromServer = data;

					});
					if(responseFromServer.hasOwnProperty(RESPONSE_STATUS_CODE)) {
						alertError("Following error occured " + responseFromServer[RESPONSE_MESSAGE]);
					} else {
						$("#repoName").html(responseFromServer[REPOSITORY_NAME]);
						$("#repoURL").html(responseFromServer[REPOSITORY_URL]);
					}

				} catch(e) {
					alertError(e);
				}

				$("#generateRepoKey").click(function() {
					$("#generateRepoKeyDiv").fadeIn('slow');
				});

				$("#generateRepoKey").click(function() {
					
						var sign_in = {};
						sign_in[SECRET_KEY] = FAKE_SECRET_KEY;
						//Submit the login details
						try {

							$.post(URL_GENERATE_SECRET_KEY, JSON.stringify(sign_in), function(data) {
								responseFromServer = data;

							});
							if(responseFromServer[RESPONSE_STATUS_CODE] != 0) {
								alertError("Following error occured " + responseFromServer[RESPONSE_MESSAGE]);
							} else {
								$("#generatedKey").html(responseFromServer[RESPONSE_MESSAGE]);
								$("#generatedRepoKeyDiv").show();
							}

						} catch(e) {
							alertError(e);
						}
					

				});
				//If button is clicked generate a call to get the secret key from repo

			});

		</script>
	</head>
	<body>
		<div id="header-container">
			<header class="wrapper clearfix">
				<h1 id="title">SensorAct
				<br />
				<br />
				<span style="font-size:25px;">Sense - Interact - Actuate</span></h1>
				<nav id = "navHeader">			
				</nav>
				<br />
				<br />
				<nav>
					<p class="pbox" style="margin-bottom:-20px;">
						Welcome ${username} &nbsp | &nbsp<span id="logout">Logout</span>
					</p>
				</nav>
			</header>
		</div>
		<div class="wrapper">
			<h1 class="newfont" style="text-align:center;">Repository Information</h1>
			<div id="errorDiv" class="errorDiv"></div>
			<div id="repoInfo">
				Please note down this information carefully for registering your repository account with the Broker
				<br/>
				<label>Repo Name</label>
				<span id="repoName"></span>
				<br/>
				<label>Repo URL</label>
				<span id="repoURL"></span>
				<br/>
				<button id ="generateRepoKey">
					Generate Key to register repository to Broker
				</button>
				
				<div id="generatedRepoKeyDiv">
					<label>Generated Key</label>
					<span id="generatedKey"></span>
				</div>
			</div>
			<hr>
		</div>
		<div style="clear:both;" id="footer-container">
			<footer class="wrapper">
				<h4 align="center">&copy2012 |MUC,IIIT-Delhi</h4>
			</footer>
		</div>
	</body>
</html>
