<html>
	<head>
		<title> SensorAct </title>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/styles.css'}">
		<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/constants.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script type="text/javascript">
			$(document).ready(function() {

				var repsonseFromServer;

				/*
				 * Adding the link attribute to Logout,Home element
				 */
				$("#logout").attr('href', URL_LOGOUT_USER);
				$("#home").attr('href', URL_HOME);
				//Setting up in async mode
				jQuery.ajaxSetup({
					async : false
				});
				//Hide all forms

				$("#errorDiv").hide();

				function alertError(errorMessage) {
					$("#errorDiv").html(errorMessage);
					$("#errorDiv").fadeIn('slow');
					return false;
				}

				function removeError() {
					$("#errorDiv").html("");
					$("#errorDiv").hide();
					return false;
				}

				function validateRepositoryRegistration(repoName, repoURL, repoKey) {
					var flag = true;
					if(repoName.length < 1) {
						$("#repoNameSpan").text("Must be atleast " + 1 + " characters");
						$("#repoName").addClass("error");
						flag = false;
					} else {
						$("#repoNameSpan").text("");

						$("#repoName").removeClass("error")
					}
					if(repoURL.length < 1) {
						$("#repoURLSpan").text("Must be atleast " + 1 + " characters");
						$("#repoURL").addClass("error");
						flag = false;
					} else {
						$("#repoURLSpan").text("");
						$("#repoURL").removeClass("error")
					}
					
						if(repoKey.length !=32) {
						$("#repoKeySpan").text("Must be 32 characters");
						$("#repoKey").addClass("error");
						flag = false;
					} else {
						$("#repoKeySpan").text("");
						$("#repoKey").removeClass("error")
					}
					return flag;
				}

				//Get the repository information
				try {

					$.get(URL_LIST_ALL_REPOSITORIES, function(data) {
						responseFromServer = data;

					});
					if(responseFromServer.hasOwnProperty(RESPONSE_STATUS_CODE)) {
						alertError("Following error occured " + responseFromServer[RESPONSE_MESSAGE]);
					} else {
						//Code to display the registered repositories
						
							var repoList = responseFromServer[REPOSITORY_LIST];
							$("#repoInfo").html("<table>")
							for(var i = 0; i < repoList.length; i++) {
								//Append elements to a table
								$("#repoInfo").append("<tr><td> Repo Name </td><td> " + repoList[i][REPOSITORY_NAME] + " </td><td> Repo URL " + repoList[i][REPOSITORY_URL] + "</td></tr>");
							}

							//Close Table
							$("#repoInfo").append("</table>");
						}

					}

				 catch(e) {
					alertError(e);
				}

				$("#Done").click(function() {
					var repoName = $("#repoName").val();
					var repoURL = $("#repoURL").val();
					var repoKey = $("#repoKey").val();
					
					validation_state = validateRepositoryRegistration(repoName, repoURL, repoKey);
					if(validation_state) {
						
						var repoInfo = {};
						repoInfo[REPOSITORY_NAME] = repoName;
						repoInfo[REPOSITORY_URL] = repoURL;
						repoInfo[REPOSITORY_KEY] = repoKey;
						repoInfo[SECRET_KEY] = FAKE_SECRET_KEY;
						

						try {
							
							$.post(URL_REGISTER_REPOSITORY, JSON.stringify(repoInfo), function(data) {
								responseFromServer = data;

							});
							
							
							if(responseFromServer[RESPONSE_STATUS_CODE] == 0) {
								window.location.reload();
							} else {
								alertError(responseFromServer[RESPONSE_MESSAGE]);
							}

						} catch(e) {
							alertError(e);
						}

					}

				});
				//If button is clicked generate a call to get the secret key from repo

			});

		</script>
	</head>
	<body>
		<ul>
			<li>
				<a id="home" >Home</a>
			</li>
			<li>
				<a id="logout">Logout</a>
			</li>
		</ul>
		<div id="errorDiv" class="errorDiv"></div>
		<div id="repoInfo"></div>
		<div id="registerRepository">
			<label>Enter name of the repository</label>
			<input id="repoName">
			</input>
			<span id="repoNameSpan"></span>
			<br/>
			<label>Enter URL of the repository</label>
			<input id="repoURL">
			</input>
			<span id="repoURLSpan"></span>
			<br/>
			<label>Enter token generated by the repository</label>
			<input id="repoKey">
			</input>
			<span id="repoKeySpan"></span>
			<button id="Done">Done</button>
		</div>
	</body>
</html>