
label
{
	width: 150px; 
  float:left;
  clear:left;
}


input.error {
	border: 3px solid #f00;
}

div.errorDiv
{
	background: #000230;
	color: #fff;
	padding:20px;
}
input
{
	width :120px;
}


div#newSensor
{
	background: rgb(70,136,71);
	color: rgb(223,240,216);
	padding:20px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid;
}
div.sensorDiv
{
	background: rgb(70,136,71);
	color: rgb(223,240,216);
	padding:20px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid;
}
div#newActuator
{
	background: rgb(70,136,71);
	color: rgb(223,240,216);
	padding:20px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid;
}
div#newActuatorsDiv
{
	
	padding:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid;
}
div#newSensor
{
	background: rgb(70,136,71);
	color: rgb(223,240,216);
	padding:20px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid;
}
div.oldSensor
{
	background: rgb(70,136,71);
	color: rgb(223,240,216);
	padding:20px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid;
}
div#oldActuator
{
	background: rgb(70,136,71);
	color: rgb(223,240,216);
	padding:20px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid;
}

